.CommunityLeaderHeader {
  font-weight: bold;
}
.CommunityLeaderPictureContainer {
  float: left;
}
.CommunityLeaderContainer {
  float: right;
  margin-top: 5px;
}
.CommunityLeaderPictureContainer a img {
  border: 1px solid #999 !important;
  border-radius: 50%;
  float: left;
  height: 30px;
  overflow: hidden;
  text-decoration: none;
  width: 30px;
}
.CommunityLeaderName {
  float: left;
  margin: 7px 15px 0 5px;
}
.CommunityLeaderName > a {
  color: #fff;
  font-size: 14px;
}
#united2ComHeader {
  background-color: #f1f1f1;
}
.defaultComIcon {
  border: 1px solid #fff;
  border: 1px solid transparent \9;
  border-radius: 50%;
  color: #fff;
  float: left;
  font-size: 19px;
  margin: 5px;
  height: 27px;
  width: 27px;
}
.defaultComIcon .fa-comments {
  padding: 4px;
}
#joinLeave.ngWrapper,
#NGSS_CommunityStatusDiv.ngWrapper {
  background: none!important;
}
#ngInputActions li {
  height: 30px !important;
}
.ngAttachFile a,
.ngAttachFile a:hover {
  background-position: -413px 0 !important;
}
.ngItemSelector a,
.ngItemSelector a:hover {
  background-position: -639px 0 !important;
}
div.ngTopLinks {
  padding: 0 !important;
  float: left!important;
}
#divSiteIcon,
.ngWrapper .Security {
  display: none;
}
.ngWrapper,
#NGSS_CommunityStatusDiv,
.knowledgeLister,
.ngInput textarea {
  background-color: #FFF;
}
.ngInput textarea {
  background-color: #FFF !important;
}
#divSiteDesc {
  width: 400px;
}
#divSiteDesc,
#divSiteIcon {
  float: left;
}
#divSiteIcon {
  padding-right: 10px;
}
#divSiteIcon img {
  border-radius: 50%;
  width: 62px;
  height: 62px;
}
#navigation {
  padding: 0 0 0 5px !important;
  white-space: normal !important;
  margin: 2px 0 4px 0 !important;
}
#navigation a {
  background-image: none!important;
  background-repeat: no-repeat !important;
  border-bottom: 0 solid #FFF !important;
  font-size: 12px;
  font-weight: normal!important;
  color: #ffffff!important;
  padding: 6px;
}
#navigation a:hover {
  background-color: #ec971f;
  border-radius: 3px;
}
#navigation #selected a {
  background-color: #ec971f;
  border-radius: 3px;
  border-bottom: 0 solid #FFF !important;
}
#navigation #selected a,
#navigation #selected a span,
#navigation a:hover span {
  color: #FFF !important;
  background-position: center center !important;
}
#navigation span {
  background-image: none !important;
  background-position: center center !important;
  text-align: center;
  padding: 0 !important;
}
body #s4-topheader2 {
  background: none;
  background-color: #f1f1f1;
  border-top: 0 solid #FFF;
  border-bottom: 1px solid transparent;
  min-height: 30px;
}
#navigation li {
  margin-bottom: 2px;
  margin-right: 6px;
  margin-top: 2px;
  border-radius: 3px;
  background-color: #f0ad4e !important;
  float: none!important;
  display: inline-block;
}
#joinLeave a#joinLeaveAction {
  display: none;
}
.showme {
  display: block !important;
}
.topNgContainer {
  background-color: #337AB7;
}
#NGSS_CommunityStatusDiv {
  padding: 0 !important;
}
#NGSS_CommunityStatusDiv .Description {
  font-family: Arial;
  font-size: 12px;
  color: #616161;
  width: 500px;
  padding-top: 6px;
  display: none;
}
#NGSS_CommunityStatusDiv .Title {
  font-family: Arial;
  font-size: 16px;
  color: #fff;
  padding: 0 !important;
}
#divCommunityTopRow {
  float: left;
  width: 400px;
  padding: 11px 0 10px 5px !important;
}
#divCommunityLeader,
#divCommunityFollow {
  float: right;
}
#divCommunityFollow {
  text-align: right;
  float: right;
  padding-right: 0;
}
#divCommunityFollow img {
  border: 0;
  padding: 34px 15px 0 10px;
}
.tdCommunityLeftBody {
  width: 373px;
  padding: 20px 20px 20px 20px;
}
.tdCommunityRightBody {
  padding: 20px 20px 20px 0;
}
#KnowledgeBaseContainer .listerWithoutTagsContainer {
  width: 100% !important;
}
#KnowledgeBaseContainer UL.knowledgeList li {
  padding-left: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  margin-right: 0 !important;
}
#KnowledgeBaseContainer .sortingHeader {
  padding-top: 15px !important;
  border-bottom: 1px solid #C4C4C4 !important;
}
#KnowledgeBaseContainer .sumbittedBy,
#KnowledgeBaseContainer .submittedByLink,
#KnowledgeBaseContainer .comments,
#KnowledgeBaseContainer .likes,
#KnowledgeBaseContainer .views {
  font-family: Arial !important;
  font-size: 9px !important;
  color: #616161 !important;
}
#KnowledgeBaseContainer .knowledgeItemTitle {
  font-family: Arial !important;
  font-size: 12px !important;
  color: #176FCC !important;
}
#KnowledgeBaseContainer .views {
  padding-right: 0 !important;
}
.tdCommunityLeftBody .s4-wpcell-plain > table {
  border: 1px solid #C4C4C4;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.tdCommunityLeftBody .s4-wpcell > table {
  border: 1px solid #C4C4C4;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
.tdCommunityLeftBody .ms-wpContentDivSpace,
.tdCommunityLeftBody .ms-standardheader {
  padding: 0 10px 0 10px;
}
.tdCommunityLeftBody .noPadding .ms-wpContentDivSpace {
  padding: 0 !important;
}
.noPadding .ms-wpContentDivSpace {
  margin-right: 0 !important;
}
.tdCommunityLeftBody .ms-standardheader {
  padding-top: 10px;
}
.tdCommunityLeftBody .ms-WPHeaderTdSelection {
  border: 0 solid transparent;
}
.tdCommunityLeftBody .s4-wpcell-plain .ms-WPBorder {
  border: 0 solid transparent;
}
.tdCommunityLeftBody .s4-wpcell-plain .ngVCardQuestionContainer {
  border-bottom: 1px solid #C4C4C4;
  padding: 12px 0 12px 0;
}
.tdCommunityLeftBody .s4-wpcell-plain .ngVCardMicroblogContainer {
  padding: 12px 0 12px 0;
}
.tdCommunityLeftBody .s4-wpcell-plain .ngVCardQuestionContainer a,
.tdCommunityLeftBody .s4-wpcell-plain .ngVCardMicroblogContainer a {
  color: #176FCC;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}
.tdCommunityLeftBody .ms-standardheader {
  color: #616161;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.dfwp-column {
  padding-top: 10px;
}
ul.dfwp-column li .uecalItem {
  font-family: Arial;
  font-size: 12px;
  color: #176FCC;
  font-weight: bold;
  border-bottom: 1px solid #C4C4C4;
  padding: 10px 0 10px 0;
}
ul.dfwp-column li .uecalItem a,
ul.dfwp-column li .uecalItem a:active,
ul.dfwp-column li .uecalItem a:visited {
  color: #176FCC;
  text-decoration: none;
}
ul.dfwp-column li.last .uecalItem {
  border-bottom: 0 solid #FFF !important;
}
.dvTenureContainer {
  padding-top: 10px !important;
}
#joinLeave {
  margin: 0 !important;
}
#joinLeave a#joinLeaveAction.ngJoin {
  background: url("") #286090 !important;
  border: 1px solid #286090;
  color: #ffffff !important;
  padding: 10px !important;
  font-size: 14px;
  -webkit-border-radius: 0px !important;
}
#joinLeave a#joinLeaveAction.ngJoin:hover {
  background: url("") #286090 !important;
  border: 1px solid #286090;
}
#joinLeave a#joinLeaveAction.ngJoin:before {
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding-right: 8px;
  top: 15px;
  content: "\f058";
}
#joinLeave a#joinLeaveAction {
  display: none;
  border: 0 solid #E0E0E0 !important;
  display: inline-block !important;
  padding: 0 !important;
  -webkit-border-radius: 0px !important;
}
#joinLeave a#joinLeaveAction.ngLeave {
  background: url("") #286090 !important;
  border: 1px solid #286090;
  color: #ffffff !important;
  padding: 10px !important;
  font-size: 14px;
}
#joinLeave a#joinLeaveAction.ngLeave:hover {
  background: url("") #286090 !important;
  border: 1px solid #286090;
}
#joinLeave a#joinLeaveAction.ngLeave:before {
  font-family: FontAwesome;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  padding-right: 8px;
  top: 15px;
  content: "\f057";
}
.badgeImageContainer {
  float: left;
  vertical-align: middle;
  padding-right: 0;
  width: 94px;
  padding-top: 18px;
}
.dvTenurePictureContainer,
.dvTenurePersonContainer {
  float: left;
}
.dvImageContainer {
  width: 62px;
  padding-right: 6px;
}
.dvImageContainer img {
  width: 62px;
  height: 62px;
}
#divCommunityLeader {
  padding-left: 10px;
  padding-right: 10px;
  width: 400px;
}
.leaderTitle {
  font-family: Arial;
  font-size: 14px;
  color: #616161;
  font-weight: bold;
  text-transform: uppercase;
}
.leaderData {
  width: 197px;
  padding-left: 0;
  padding-right: 10px;
}
.leaderImg {
  padding-top: 10px;
  padding-right: 10px;
  float: left;
  width: 60px;
}
.leaderImg img {
  width: 60px;
  height: 60px;
}
.leaderName {
  float: left;
  font-family: Arial;
  font-size: 12px;
  color: #616161;
  font-weight: bold;
  padding-top: 10px;
  width: 127px;
}
#divNavigation {
  padding-left: 20px;
  padding-top: 8px;
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
#divNavigation a,
#divNavigation .ms-menu-a {
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
/*Begin wwtlist.aspx styles*/
.wwtlistsearch .ms-WPHeader {
  background-color: #4F81BD;
}
.wwtlistsearch .ms-standardheader {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.wwtlistsearch .s4-wpcell-plain .ms-WPBorder {
  background: none repeat scroll 0 0 #4F81BD;
  border: 0 solid transparent;
  padding-bottom: 5px;
  color: #FFFFFF;
}
.wwtlistsearch .ms-WPBorder {
  color: #FFFFFF;
}
/*End wwtlist.aspx styles*/
/*RESOURCES - Styles for custom buttons that Andy Adams made with his skillzez*/
.wwtbutton A {
  BORDER: #999999 2px solid;
  BACKGROUND-COLOR: #dfdfdf;
  PADDING: 7px;
  WIDTH: 165px;
  DISPLAY: block;
  FONT-FAMILY: Verdana, Geneva, sans-serif !important;
  COLOR: #999999 !important;
  FONT-SIZE: 14px;
  FONT-WEIGHT: bold !important;
  TEXT-DECORATION: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}
.wwtbutton A:active,
.wwtbutton A:hover {
  BACKGROUND-COLOR: #797778;
  FONT-FAMILY: Verdana, Geneva, sans-serif;
  COLOR: #ffffff !important;
  text-decoration: none;
}
.ms-rtestate-field table {
  table-layout: auto !important;
}
/*BEGIN SECURITY PORTAL PAGE LAYOUTS STYLES*/
/*SLIDER PAGE LAYOUT*/
/*add paddign to left/right sections of page*/
.securityportaltopleft,
.securityportalleft,
.securityportalright {
  padding-left: 30px;
  padding-right: 30px;
}
/*Take margin off web part spaces*/
.securityportaltopleft .ms-wpContentDivSpace,
.securityportalleft .ms-wpContentDivSpace,
.securityportalright .ms-wpContentDivSpace {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/*Remove blank TD space and bottom border from HeaderTDMenu*/
.securityportaltopleft .ms-wpTdSpace,
.securityportalleft .ms-wpTdSpace,
.securityportalright .ms-wpTdSpace {
  display: none !important;
}
/*Webpart font/size/color styles for Security Community page layouts*/
.securityportaltopleft .ms-WPTitle,
.securityportalleft .ms-WPTitle,
.securityportalright .ms-WPTitle {
  FONT-FAMILY: calibri;
  COLOR: #000000;
  FONT-SIZE: 18px;
}
.securityportaltopleft .ms-WPTitle A,
.securityportalleft .ms-WPTitle A,
.securityportalright .ms-WPTitle A {
  FONT-FAMILY: calibri;
  COLOR: #000000;
  FONT-SIZE: 18px;
}
.securityportaltopleft .ms-WPHeader TD,
.securityportalleft .ms-WPHeader TD,
.securityportalright .ms-WPHeader TD {
  BORDER-BOTTOM: #000000 1px solid !important;
}
.securityportaltopleft .ms-fakewptitle,
.securityportalleft .ms-fakewptitle,
.securityportalright .ms-fakewptitle {
  BORDER-BOTTOM: #000000 1px solid;
}
/*SLIDER THIN PAGE LAYOUT*/
/*add paddign to left/right sections of page*/
.sliderthintopleft,
.sliderthinleft,
.sliderthinright {
  padding-left: 30px;
  padding-right: 30px;
}
/*Take margin off web part spaces*/
.sliderthintopleft .ms-wpContentDivSpace,
.sliderthinleft .ms-wpContentDivSpace,
.sliderthinright .ms-wpContentDivSpace {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/*Remove blank TD space and bottom border from HeaderTDMenu*/
.sliderthintopleft .ms-wpTdSpace,
.sliderthinleft .ms-wpTdSpace,
.sliderthinright .ms-wpTdSpace {
  display: none !important;
}
/*Webpart font/size/color styles for Security Community page layouts*/
.sliderthintopleft .ms-WPTitle,
.sliderthinleft .ms-WPTitle,
.sliderthinright .ms-WPTitle {
  FONT-FAMILY: calibri;
  COLOR: #000000;
  FONT-SIZE: 18px;
}
.sliderthintopleft .ms-WPTitle A,
.sliderthinleft .ms-WPTitle A,
.sliderthinright .ms-WPTitle A {
  FONT-FAMILY: calibri;
  COLOR: #000000;
  FONT-SIZE: 18px;
}
.sliderthintopleft .ms-WPHeader TD,
.sliderthinleft .ms-WPHeader TD,
.sliderthinright .ms-WPHeader TD {
  BORDER-BOTTOM: #000000 1px solid !important;
}
.sliderthintopleft .ms-fakewptitle,
.sliderthinleft .ms-fakewptitle,
.sliderthinright .ms-fakewptitle {
  BORDER-BOTTOM: #000000 1px solid;
}
/*END SECURITY PORTAL PAGE LAYOUTS STYLES*/
.federalContractsSearch {
  background-color: #4F81BD;
  color: #fff;
}
.federalContractsSearch h3 {
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 10px 10px 0 10px;
  text-transform: uppercase;
}
.federalContractsSearch .searchParams {
  border-spacing: 10px;
  width: 100%;
}
.federalContractsSearch .peopleEditor {
  font-family: Verdana, sans-serif;
  font-size: 8pt;
  padding-left: 1px;
  padding-top: 2px;
}
.federalContractsSearch .wwtbutton {
  padding: 20px 0;
  text-align: center;
}
.federalContractsSearch .wwtbutton a {
  color: #797778 !important;
  margin: 0 auto;
  width: 200px;
}
.federalContractsSearch .wwtbutton input {
  display: none;
}
.federalContractsSearch .wwtbutton a:active,
.federalContractsSearch .wwtbutton a:hover {
  color: #ffffff !important;
}
.federalContractsSearchResults {
  margin-top: 40px;
}
.federalContractsSearchResults table {
  border-spacing: 10px;
}
.federalContractsSearchResults th {
  color: #003759;
  font-size: 8pt;
  font-weight: normal;
}
.federalContractsSearchResults td {
  vertical-align: top;
}
.federalContractsZeroSearchResults {
  margin-top: 30px;
}
.federalContractDetail .smallValue {
  float: left;
  margin-bottom: 30px;
  margin-right: 2%;
  width: 23%;
}
.federalContractDetail .largeValue {
  float: left;
  margin-bottom: 30px;
  margin-right: 2%;
  width: 48%;
}
.federalContractDetail .resetBlock {
  clear: left;
}
/* HACK: since NewsGator uses the same styles as JQuery UI, these styles are hacks to undo NewsGator's styles */
.ui-widget {
  font-size: 12px !important;
}
.ui-multiselect-menu .ui-multiselect-all span,
.ui-multiselect-menu .ui-multiselect-none span {
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight: normal !important;
  text-transform: none !important;
}
.ui-multiselect-menu .ui-widget-header {
  height: inherit !important;
}
/* END HACK */
/*Community Team Bios search results css*/
#UserPhoto > a {
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
.psrch-Main #UserPhoto img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}
#HomePageFullZone {
  clear: both !important;
}
/*# sourceMappingURL=community.css.map */