/*This large html, body style is here because the sideNav OOTB styles had it.  We have not tested it without - it may work fine. */
html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}
img {
  border: none;
}
.United2MainContent {
  width: 1190px;
  margin: 0 auto;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.United2MainContent .unitedSystemLeft {
  display: none;
}
#wrapper #s4-workspace {
  -webkit-overflow-scrolling: touch;
}
#s4-workspace .unitedSystem {
  width: 100%;
  border: none;
}
.ms-dialog #s4-workspace.unitedSystem {
  width: 100% !important;
}
.ms-dialog body #s4-workspace {
  width: 100% !important;
}
.ms-dialog .United2MainContent {
  width: auto;
}
/* Hide OOB Main Nav */
.s4-tn {
  display: none;
}
#divNavigation {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
#divNavigation a,
#divNavigation .ms-menu-a {
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
/* Top Bar */
#united2TopBarContainer {
  background-color: #fafafa;
  height: 50px !important;
  padding: 0;
  width: 100%;
}
.united2LogoContainer {
  float: left;
  margin: 7px;
}
.united2LogoContainer img {
  padding-right: 20px;
  border-right: 1px solid #b0b0b0;
}
/*Top Bar Overlay*/
#topBarOverlay {
  height: 100%;
  top: 50px;
  width: 100%;
  position: absolute;
  z-index: 14;
  display: none;
  background-color: #555555;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#notificationArea {
  display: inline-block;
  float: right;
  margin-right: 90px;
  width: 35px;
  z-index: 15;
}
.s4-noti {
  position: relative;
}
/* Ribbon Changes */
#s4-ribbonrow {
  background-color: #777777 !important;
  overflow-x: hidden;
}
/*This style fixes the duplicating ribbonRow, visible only on the search masterpage.*/
.ribbonCustomHeightFix {
  height: 44px;
}
.ms-cui-tt-a,
.ms-cui-tt-a:hover {
  color: #fff !important;
}
.ms-cui-tt-a:hover {
  border: 1px solid #999 !important;
}
#s4-ribboncont {
  background: none !important;
}
/* Site Actions Button */
.ms-siteactionsmenu .ms-menu-a span {
  display: none;
}
.ms-siteactionsmenuinner {
  background: none !important;
  border: none !important;
  color: #4d5052;
  font-size: 18px;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 40px;
}
.ms-siteactionsmenuhover {
  background: #c74343 !important;
  color: #fff;
  font-size: 18px;
  border: none !important;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 40px;
}
.ms-siteactionsmenuhover > iframe {
  display: none !important;
}
.ms-siteactionsmenuhover:hover {
  background: #c74343 !important;
  border: none !important;
  color: #fff;
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 0;
  width: 40px;
}
span .ms-viewselector-arrow {
  display: none !important;
}
/* Hide default icons */
div[text="Manage Content and Structure"] span img {
  display: none;
}
div[text="Edit Page"] span img {
  display: none;
}
div[text="New Page"] span img {
  display: none;
}
div[text="New Document Library"] span img {
  display: none;
}
div[text="New Site"] span img {
  display: none;
}
div[text="View All Site Content"] span img {
  display: none;
}
div[text="Edit in SharePoint Designer"] span img {
  display: none;
}
div[text="Site Permissions"] span img {
  display: none;
}
div[text="Site Settings"] span img {
  display: none;
}
div[text="More Options..."] span img {
  display: none;
}
/* Add new icons */
div[text="Manage Content and Structure"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/manageContentIcon.png") no-repeat top center !important;
}
div[text="Edit Page"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/editPageIcon.png") no-repeat top center !important;
}
div[text="New Page"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/newPageIcon.png") no-repeat top center !important;
}
div[text="New Document Library"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/newLibraryIcon.png") no-repeat top center !important;
}
div[text="New Site"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/newSiteIcon.png") no-repeat top center !important;
}
div[text="View All Site Content"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/viewAllContentIcon.png") no-repeat top center !important;
}
div[text="Edit in SharePoint Designer"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/SPDIcon.png") no-repeat top center !important;
}
div[text="Site Permissions"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/permissionsIcon.png") no-repeat top center !important;
}
div[text="Site Settings"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/siteSettingsIcon.png") no-repeat top center !important;
}
div[text="More Options..."] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/moreOptionsIcon.png") no-repeat top center !important;
}
/* Site Actions Menu */
#siteActionsMenu {
  float: left;
  height: 50px;
  left: 260px;
  position: absolute;
  width: 40px;
  color: #4d5052;
}
#siteActionsMenu:hover {
  background-color: #c74343;
  color: #ffffff;
  cursor: pointer;
}
#siteActionsMenu:after {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  content: "\f013";
  margin-left: 12px;
  top: 16px;
}
#siteActionsMenu.siteActionsMenuHover {
  background-color: #c74343;
  color: #ffffff;
}
.ms-siteactionsmenu {
  float: left;
}
.ms-siteactionsmenu ul.ms-MenuUIUL {
  border: 0 !important;
  padding: 0 !important;
}
.ms-siteactionsmenu ul.ms-MenuUIUL div.ms-MenuUIULItem,
.ms-siteactionsmenu ul.ms-MenuUIUL div.ms-MenuUIULItemHover {
  border-left: 0 !important;
  border-right: 0 !important;
}
.ms-siteactionsmenu div.ms-MenuUIPopupScreen,
.ms-siteactionsmenu div.ms-MenuUIPopupInner,
.ms-siteactionsmenu ul.ms-MenuUIUL,
.ms-siteactionsmenu div.ms-MenuUIULItemHover,
.ms-siteactionsmenu .ms-menuUIPopupBody {
  background-color: #333333 !important;
  background-image: none !important;
  border-color: transparent !important;
  /*overflow: hidden !important;*/
  width: 360px !important;
}
.ms-siteactionsmenu .ms-MenuUIULItem [type="option"],
.ms-siteactionsmenu .ms-MenuUIULItem [type="submenu"] {
  border-bottom: 1px solid #2a2a2a !important;
  border-top: 1px solid #424242 !important;
  min-height: 55px;
}
.ms-siteactionsmenu li.ms-MenuUIULItem[type="submenu"] li.ms-MenuUIULItem {
  border: 0 !important;
}
.ms-siteactionsmenu div.ms-MenuUIPopupScreen {
  border-bottom: 0 #c74343 solid;
  border-left: none !important;
  border-right: none !important;
  border-top: 0 #c74343 solid;
  visibility: hidden !important;
  /*margin-left: -260px !important;*/
  overflow-y: auto;
}
.ms-siteactionsmenu .ms-MenuUIPopupScreen.visible,
.ms-siteactionsmenu .ms-MenuUIPopupScreen.visible .ms-MenuUIPopupScreen {
  visibility: visible !important;
}
.ms-siteactionsmenu div.ms-MenuUIPopupScreen.siteActionBorder {
  border-bottom: 3px #c74343 solid !important;
  border-top: 2px #c74343 solid !important;
}
.ms-siteactionsmenu .ms-menuUIPopupBody {
  border-top: #555555 5px solid !important;
}
.ms-siteactionsmenu div.ms-MenuUIULItemHover {
  background-color: #555555 !important;
  min-height: 55px;
}
.ms-siteactionsmenu .ms-MenuUILabel {
  color: #ffffff !important;
  font-family: Arial, sans-serif !important;
  font-size: 15px !important;
}
.ms-siteactionsmenu .ms-menuitemdescription {
  color: #999999 !important;
  font-size: 14px !important;
}
.ms-siteactionsmenu .ms-MenuUISeparatorLarge {
  display: none !important;
}
.ms-siteactionsmenu li[type="separator"] {
  display: none;
}
.ms-MenuUIPopupBody.ms-MenuUIPopupScreen.siteActionBorder .ms-MenuUIPopupInner {
  overflow-x: hidden !important;
}
/* Welcome Menu */
.welcomemenu {
  height: 50px;
  margin: 0 !important;
  position: relative;
  /* Drop down Menu*/
  /* Hide default icons */
  /* Add new icons */
}
.welcomemenu:hover {
  cursor: pointer;
}
.welcomemenu ul.ms-MenuUIUL {
  border: 0 !important;
  padding: 0 !important;
}
.welcomemenu ul.ms-MenuUIUL div.ms-MenuUIULItem,
.welcomemenu ul.ms-MenuUIUL div.ms-MenuUIULItemHover {
  border-left: 0 !important;
  border-right: 0 !important;
}
.welcomemenu #userDropdownCover {
  height: 50px;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
  /*hack for IE8 allowing click-through of the overlay div, but still works fine in other browsers.  \9 causes Less compile to fail.*/
}
.welcomemenu .s4-trc-container-menu {
  float: right;
}
.welcomemenu .ms-welcomeMenu a:link {
  color: #555;
  font-size: 12px;
}
.welcomemenu .ms-SpLinkButtonActive {
  background: none !important;
  border: none !important;
}
.welcomemenu .ms-SpLinkButtonInActive {
  background: none !important;
  border: none !important;
}
.welcomemenu .ms-welcomeMenu {
  margin-top: 15px;
  padding-right: 15px;
}
.welcomemenu .ms-welcomeMenu iframe {
  display: none !important;
}
.welcomemenu .ms-welcomeMenu .ms-menu-a {
  margin-right: 0;
  color: #555;
}
.welcomemenu .ms-welcomeMenu > .ms-menu-a > span:before {
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  right: 5px;
  top: 18px;
  color: #555;
}
.welcomemenu div.ms-MenuUIPopupScreen,
.welcomemenu div.ms-MenuUIPopupInner,
.welcomemenu ul.ms-MenuUIUL,
.welcomemenu div.ms-MenuUIULItemHover,
.welcomemenu .ms-menuUIPopupBody {
  background-color: #333333 !important;
  background-image: none !important;
  border-color: transparent !important;
  /*overflow: hidden !important;*/
  width: 360px !important;
}
.welcomemenu .ms-MenuUIULItem [type="option"],
.welcomemenu .ms-MenuUIULItem [type="submenu"] {
  border-bottom: 1px solid #2a2a2a !important;
  border-top: 1px solid #424242 !important;
  min-height: 55px;
}
.welcomemenu li.ms-MenuUIULItem[type="submenu"] li.ms-MenuUIULItem {
  border: 0 !important;
}
.welcomemenu div.ms-MenuUIPopupScreen {
  border-bottom: 3px #a2a2a2 solid !important;
  border-left: none !important;
  border-right: none !important;
  border-top: 2px #a2a2a2 solid !important;
  visibility: hidden !important;
  /*margin-left: 43px !important;*/
  margin-top: 6px !important;
  overflow-y: auto;
}
.welcomemenu .ms-MenuUIPopupScreen.visible,
.welcomemenu .ms-MenuUIPopupScreen.visible .ms-MenuUIPopupScreen {
  visibility: visible !important;
}
.welcomemenu .ms-menuUIPopupBody {
  border-top: #555555 5px solid !important;
}
.welcomemenu div.ms-MenuUIULItemHover {
  background-color: #555555 !important;
  min-height: 55px;
}
.welcomemenu .ms-MenuUILabel {
  color: #ffffff !important;
  font-family: Arial, sans-serif !important;
  font-size: 15px !important;
}
.welcomemenu .ms-menuitemdescription {
  color: #999999 !important;
  font-size: 14px !important;
}
.welcomemenu .ms-MenuUISeparatorLarge {
  display: none !important;
}
.welcomemenu li[type="separator"] {
  display: none;
}
.welcomemenu div[text="My Site"] span img {
  display: none;
}
.welcomemenu div[text="My Profile"] span img {
  display: none;
}
.welcomemenu div[text="My Settings"] span img {
  display: none;
}
.welcomemenu div[text="Sign in as Different User"] span img {
  display: none;
}
.welcomemenu div[text="Sign Out"] span img {
  display: none;
}
.welcomemenu div[text="My Site"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/mySiteIcon.png") no-repeat top center !important;
}
.welcomemenu div[text="My Profile"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/myProfileIcon.png") no-repeat top center !important;
}
.welcomemenu div[text="My Settings"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/mySettingsIcon.png") no-repeat top center !important;
}
.welcomemenu div[text="Sign in as Different User"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/diffUserIcon.png") no-repeat top center !important;
}
.welcomemenu div[text="Sign Out"] .ms-MenuUIIconLarge {
  background: url("/_layouts/United/Images/signoutIcon.png") no-repeat top center !important;
}
.welcomemenu li[text~="Personalize"] {
  display: none;
}
/* WWT MASTER CSS */
.ngWrapper,
#NGSS_CommunityStatusDiv,
.knowledgeLister,
.ngInput textarea {
  background-color: #FFF;
}
.ngInput textarea {
  background-color: #FFF !important;
}
.ms-WPBody {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  outline: none;
}
a img {
  text-decoration: none;
  border: 0px;
  outline: none;
}
/* Dialog Box Fixed Ribbon */
.ms-dialog body {
  height: 100%;
  width: 100%;
}
.ms-dialog body #s4-workspace {
  text-align: center;
  overflow-y: auto;
}
#theRibbon {
  text-align: center;
}
#ribbonInner {
  margin: 0 auto;
  width: 1200px;
  background-color: #0766ba;
  position: relative;
}
#s4-titlerow {
  background-color: #0780d7;
  text-align: center;
}
.ms-titlerowborder {
  border-right: none;
}
#ngManageGroups {
  left: 0px !important;
}
.ms-cui-topBar2 {
  border-bottom: none;
}
.ms-cui-TabRowLeft {
  margin-left: 10px;
}
.ms-cui-TabRowRight {
  margin-right: 10px;
}
/* Navigation 
	========================== */
#navContainer {
  height: 58px;
  text-align: center;
  margin: 0 auto;
  width: 1200px;
  background-color: #0780D7;
}
/*	#navInner {width: 1200px; margin: 0 auto;}*/
#nav {
  width: 1050px;
  height: 58px;
  margin: 0 auto;
  float: left;
}
#siteLogo {
  width: 95px;
  height: 58px;
  float: left;
  padding-right: 30px;
  background-image: url(/PublishingImages/megamenu/img_mm_divider.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  padding-left: 20px;
}
#s4-bodyContainer {
  width: 1200px;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
/*When show in a dialog box*/
html.ms-dialog #s4-titlerow,
html.ms-dialog #s4-ribboncont,
html.ms-dialog #ribbonInner {
  margin: 0 auto;
  width: 100% !important;
}
/* Force dialog boxes to open in field of view */
/* For Fixed Ribbon - Comment out */
/*
    .ms-dlgContent {
        position: fixed !important;
        top: 30%;
    }
    */
html.ms-dialog #s4-bodyContainer,
html.ms-dialog .site-middle {
  width: 100%;
}
html.ms-dialog .site-left,
html.ms-dialog .site-right,
html.ms-dialog .site-bottom,
html.ms-dialog .site-left-bottom,
html.ms-dialog .site-right-bottom,
iframe .site-left,
iframe .site-right,
iframe .site-bottom,
iframe .site-left-bottom,
iframe .site-right-bottom {
  background-image: none;
}
.ms-dialog .MSO_ContentDiv {
  float: left;
  width: inherit;
}
.MSO_ContentDiv {
  float: left;
  width: 1035px;
}
/*.MSO_ContentDiv {float: left; width: 1035px; overflow: auto;}*/
.s4-ca {
  /*margin-left: 155px; */
  margin-left: 0;
  padding-bottom: 20px;
  padding-left: 0;
  /*overflow: auto;*/
}
#unitedS4-caFix {
  margin-left: 155px;
  padding-left: 0;
}
.unitedSystemContentDiv {
  width: 100%;
}
/*.s4-ca a, .s4-ca a:link, .s4-ca a:hover, .s4-ca a:visited {color: #0066cc;}*/
/* Page Layout Zones
		========================= */
.ms-WPBorder {
  color: #E0E0E0;
}
.ms-WPHeader td,
.ms-fakewptitle {
  border-bottom: none !important;
}
#zoneLeft,
#zoneRight {
  float: left;
  padding-top: 20px;
}
#zoneLeft {
  width: 765px;
  margin: 0 20px;
}
#zone1 {
  margin-bottom: 20px;
}
#zone3 {
  margin: 15px 0;
  text-align: right;
}
#worldClocksWrapper {
  background-image: url(/PublishingImages/wp-headers/worldclock.png);
  background-repeat: no-repeat;
  background-position: top left;
  border: solid 1px #C4C4C4;
}
#worldClocks {
  margin-left: 200px;
  padding: 5px;
}
#worldClocks .worldClock {
  float: left;
  margin: 5px 0;
  text-align: center;
  width: 100px;
}
#worldClocks .worldClockHeader {
  color: gray;
  font: 8pt Verdana, Sans-Serif;
  font-weight: bold;
}
#worldClocks .worldClockTime {
  color: #078952;
  font-size: 9pt;
  font-family: arial;
}
#zone4a {
  width: 370px;
  min-height: 400px;
  float: left;
  border: solid 1px #C4C4C4;
}
#zone4a .ms-WPTitle {
  display: none;
}
#zone4b {
  width: 370px;
  min-height: 400px;
  margin-left: 20px;
  float: left;
  border: solid 1px #C4C4C4;
}
#zone4b .ms-WPTitle {
  display: none;
}
#zoneRight {
  width: 385px;
}
#zoneMainArea {
  width: 995px;
  margin: 10px 20px;
}
#zone-1col {
  width: 955px;
  overflow: auto;
}
#zone-2col-col1 {
  width: 467px;
  overflow: auto;
  float: left;
}
#zone-2col-col2 {
  width: 467px;
  overflow: auto;
  margin-left: 20px;
  float: left;
}
#zone-3col-col1 {
  width: 304px;
  overflow: auto;
  float: left;
}
#zone-3col-col2 {
  width: 304px;
  overflow: auto;
  margin-left: 20px;
  float: left;
}
#zone-3col-col3 {
  width: 304px;
  overflow: auto;
  margin-left: 20px;
  float: left;
}
#dvRssFeed {
  width: 100%;
  height: 100%;
}
#dvRssFeed ul {
  list-style-type: none;
  padding-left: 10px;
}
#dvRssFeed ul li {
  line-height: 30px;
  border-bottom: solid 1px #C4C4C4;
  vertical-align: middle;
}
#dvRssFeed ul li a,
#dvRssFeed ul li a:visited,
#dvRssFeed ul li a:hover {
  color: #176FCC !important;
}
/* Footer
========================= */
#footerContainer {
  min-height: 220px;
  position: relative;
  top: -20px;
  z-index: 1;
  text-align: center;
  background-color: #797778;
  color: #fff;
  width: 100%;
}
#footer {
  width: 1100px;
  margin: 0 auto;
  background-color: #797778;
  text-align: left;
  color: #ffffff;
}
#footer a:link {
  color: #fff;
  text-decoration: none;
}
#footer a:hover {
  color: #176fcc;
}
.footerWWTlogo {
  vertical-align: middle;
  margin: 5px 25px 0px 0px;
}
#footer h2 {
  font-size: 1.4em;
  font-weight: bold;
  padding-bottom: 5px;
  margin: 0;
}
#footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.notextdec {
  text-decoration: none;
  color: #ffffff !important;
}
.infoblock {
  float: left;
  padding-top: 30px;
  padding-bottom: 15px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}
.corpinfoblock {
  float: right;
}
.noncorpblockholder {
  padding-left: 0;
  float: left;
  padding-top: 22px;
}
.footerul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footerimage {
  float: left;
  display: inline-block;
  vertical-align: top;
  padding-top: 32px;
  width: 13px;
}
.link-item,
.link-item a,
.link-item a:link {
  color: #176fcc !Important;
}
/* Web Part Properties Window
====================================== */
/*.wp-propertiesWindow {position: relative; margin-left: -250px;}*/
/* Left Panel Navigation
====================================== */
/* Left Navigation General */
#s4-leftpanel {
  font-family: Arial !important;
  font-size: 12px !important;
  position: relative;
  z-index: 2;
  background-color: #b5b5b5;
}
.ms-quickLaunch {
  padding-top: 0;
}
/* Header Item */
.s4-ql ul.root > li > .menu-item,
.s4-qlheader,
.s4-qlheader:visited {
  border-top: none;
  border-bottom: solid 1px #bbb;
  color: #666;
  font-size: 14px;
  margin: 0;
  overflow-x: hidden;
  padding: 3px 4px 3px 10px;
  word-wrap: break-word;
}
/* Item */
.s4-ql ul.root ul > li > a,
.s4-ql ul.root ul > li > a:visited,
.s4-ql ul.root ul > li > a:hover {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  display: block;
  overflow-x: hidden;
  padding: 3px 4px 4px 10px;
}
/* Content Editor text (Edit Mode Only)
======================================= */
.ms-rtestate-field {
  color: #666;
}
/* Custom HTML Formatting Toolbar options */
.ms-rteStyle-Blue {
  color: #0066cc !important;
  -ms-name: "WWT Blue";
}
.ms-rteStyle-Blue a,
.ms-rteStyle-Blue a:hover,
.ms-rteStyle-Blue a:visited {
  color: #0066cc !important;
  text-decoration: none;
}
/* Locations Map
====================================== */
.mapTitle {
  font-size: 12px;
  font-family: Arial;
  font-weight: bold;
}
.ms-SPLink {
  color: #fff !important;
}
.s4-breadcrumb-menu {
  background-color: #FFFFFF;
}
#divNavigation {
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
#divNavigation a,
#divNavigation .ms-menu-a {
  font-family: Arial;
  font-size: 11px;
  color: #616161;
}
/* Editing Zones
===================================== */
#MSO_tblPageBody .s4-ca {
  margin-left: 0;
}
/*.ms-ToolPaneOuter {position: absolute; left: 950px;}*/
.leftNav-Navigation {
  display: none;
}
.s4-title {
  background: none;
}
.s4-titletext {
  text-align: left;
}
/*BEGIN NEWSWIRE LAYOUT STYLES*/
.NewsWireContainer {
  width: 1190px;
  min-height: 100%;
}
/*Header section*/
.NewsWireZoneTop {
  width: 100%;
  height: 47px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 3px;
  background-color: #797778;
}
.NWTitle1 {
  font-family: Arial;
  color: white;
  font-size: 24px;
  float: left;
  padding-top: 8px;
  padding-left: 20px;
}
.NWPageDisplayName {
  width: 980px;
  float: left;
}
.PanelforControls {
  padding-top: 46px;
}
.InnerPanelforControls {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
  float: left;
  padding-top: 5px;
  width: 210px;
}
.NWTitleEditModeControl {
  margin-bottom: 5px;
}
.NWdateLineEditModeControl {
  margin-bottom: 5px;
}
.NWPubStartDate {
  margin-bottom: 5px;
}
.NWPubEndDate {
  margin-bottom: 5px;
}
.NWPriorityOrderBy {
  margin-bottom: 5px;
}
.NWArticleSummaryText {
  margin-bottom: 5px;
}
.NWArticleDetailLink {
  margin-bottom: 5px;
}
.WireThumbnailImage {
  margin-bottom: 5px;
}
.NewsWireLogo {
  font-family: Arial;
  color: white;
  font-size: 24px;
  float: right;
}
/*Main Body*/
.NewsWireZoneLeft {
  width: 830px;
  float: left;
  margin-left: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
}
/*Right Sidebar*/
.NewsWireZoneRight {
  width: 300px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}
.NewsWireZoneRight .ms-viewheadertr {
  display: none;
}
.NewsWireZoneRight .ms-WPHeader {
  background-color: #79797a;
}
.NewsWireZoneRight .ms-WPTitle {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding: 7px;
}
.NewsWireZoneRight .ms-WPTitle a {
  color: #FFFFFF;
}
.NewsWireZoneRight .ms-WPHeader td,
.NewsWireZoneRight .ms-fakewptitle {
  border-bottom: none;
}
.NewsWireZoneRight .ms-WPBorder,
.NewsWireZoneRight .ms-WPBorderBorderOnly {
  border-color: #9F9F9F;
}
.NewsWireZoneRight .ms-vh,
.NewsWireZoneRight .ms-vh2,
.NewsWireZoneRight .ms-vh-icon,
.NewsWireZoneRight .ms-vh-icon-empty,
.NewsWireZoneRight .ms-vhImage,
.NewsWireZoneRight .ms-gb,
.NewsWireZoneRight .ms-gb2,
.NewsWireZoneRight .ms-gbload,
.NewsWireZoneRight .ms-vb,
.NewsWireZoneRight .ms-vb2,
.NewsWireZoneRight .ms-vb-tall,
.NewsWireZoneRight .ms-vb-user,
.NewsWireZoneRight .ms-vh2-nograd,
.NewsWireZoneRight .ms-vh3-nograd,
.NewsWireZoneRight .ms-vh2-nograd-icon,
.NewsWireZoneRight .ms-vh2-nofilter-icon,
.NewsWireZoneRight .ms-pb,
.NewsWireZoneRight .ms-pb-selected,
.NewsWireZoneRight .ms-ph {
  font-size: 10pt;
  line-height: 1.5;
}
.NewsWireZoneRight .ms-vb a:link,
.NewsWireZoneRight .ms-vb a:visited,
.NewsWireZoneRight .ms-vb-user,
.NewsWireZoneRight .ms-vb2 a:link,
.NewsWireZoneRight .ms-vb2 a:visited {
  color: #000000 !important;
}
/*END NEWSWIRE LAYOUT STYLES*/
/*BEGIN PSNEWS LAYOUT STYLES*/
.PSNewsContainer {
  width: 1190px;
  min-height: 100%;
}
/*Header section*/
.PSNewsZoneTop {
  width: 100%;
  height: 47px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-top: 3px;
  background-color: #797778;
}
.PSNTitle1 {
  font-family: Arial;
  color: white;
  font-size: 24px;
  padding-top: 8px;
  padding-left: 20px;
}
.PSNTitle1 a {
  color: white !important;
}
.PSNTitle1 a:hover {
  color: #E0E0E0 !important;
}
.PSNinnercolumn {
  width: 396px;
  float: left;
  text-align: center;
}
.PSNArticleNavLeftArrow {
  float: left;
  padding-left: 40px;
  padding-top: 6px;
}
.PSNArticleNavRightArrow {
  float: right;
  padding-right: 40px;
  padding-top: 6px;
}
.PSNArticleNavLeft {
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding-top: 13px;
  padding-left: 20px;
  float: left;
}
.PSNArticleNavLeft a {
  color: white;
}
.PSNArticleNavLeft a:hover {
  color: #E0E0E0;
}
.PSNArticleNavRight {
  font-family: Arial;
  color: white;
  font-size: 14px;
  padding-top: 13px;
  padding-right: 20px;
  float: right;
}
.PSNArticleNavRight a {
  color: white;
}
.PSNArticleNavRight a:hover {
  color: #E0E0E0;
}
.PSNTitleEditModeControl {
  margin-bottom: 5px;
}
.PSNdateLineEditModeControl {
  margin-bottom: 5px;
}
.PSNPubStartDate {
  margin-bottom: 5px;
}
.PSNPubEndDate {
  margin-bottom: 5px;
}
.PSNPriorityOrderBy {
  margin-bottom: 5px;
}
.PSNArticleSummaryText {
  margin-bottom: 5px;
}
.PSNArticleDetailLink {
  margin-bottom: 5px;
}
.PSNThumbnailImage {
  margin-bottom: 5px;
}
.PSNLogo {
  font-family: Arial;
  color: white;
  font-size: 24px;
  float: right;
}
/*Main Body*/
.PSNewsZoneLeft {
  width: 100%;
  float: left;
  margin-left: 0px;
  margin-right: 25px;
}
/*Right Sidebar*/
.PSNewsZoneRight {
  width: 300px;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  overflow: auto;
}
.PSNewsZoneRight .ms-viewheadertr {
  display: none;
}
.PSNewsZoneRight .ms-WPHeader {
  background-color: #79797a;
}
.PSNewsZoneRight .ms-WPTitle {
  color: #FFFFFF;
}
.PSNewsZoneRight .ms-WPTitle a {
  color: #FFFFFF;
}
.PSNewsZoneRight .ms-WPHeader td,
.ms-fakewptitle {
  border-bottom: none;
}
/*Footer Section*/
.PSNewsZoneBottom {
  width: 100%;
  height: 47px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 3px;
  background-color: #797778;
  float: left;
}
.PSNewsZoneBottomArticles {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 3px;
  background-color: #ffffff;
  float: left;
}
.ArticleWebPartTitle {
  font-family: Arial;
  color: black;
  font-size: 16px;
}
.ArticleWebPartValues {
  font-family: Arial;
  color: black;
  font-size: 14px;
}
.PSNArticleInnercolumn {
  text-align: center;
}
.PSNNotesInnercolumn {
  border: 1px solid;
  border-color: grey;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 14px;
}
.PSNArticleWebPart {
  margin: 0 auto;
  width: 500px;
  font-family: Arial;
  color: blue;
  font-size: 24px;
  padding-top: 8px;
  padding-left: 20px;
  border: 1px solid;
  border-color: grey;
}
.PSNArticleWebPart a {
  color: black !important;
}
.PSNArticleWebPart a:hover {
  color: #777777 !important;
}
/*END PSNEWS LAYOUT STYLES*/
/* Anniversary Web Part */
.PersonContainer {
  display: block;
  float: left;
  height: 100px;
}
.PersonAnniversary,
.PersonPicture,
.PersonInfo {
  display: block;
  float: left;
}
.PersonAnniversary {
  width: 30px;
}
.PersonPicture {
  width: 86px;
  height: 100px;
  background-color: #e1dede;
}
.PersonName,
.PersonDate {
  width: 109px;
  color: #737373;
  font-family: Arial;
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  font-variant: normal;
  padding-left: 7px;
}
.PersonName {
  height: 56px;
  background-color: #f0eded;
  padding-top: 7px;
}
.PersonDate {
  height: 30px;
  background-color: #e1dede;
  font-style: italic;
  display: block;
  padding-top: 7px;
}
.AnniversaryWebPartContainer {
  display: block;
  float: left;
  width: 750px;
  padding-bottom: 13px;
  padding-right: 13px;
  border-style: solid;
  border-width: 1px;
  border-color: #c4c4c4;
}
.AnniversaryWebPartHeader {
  display: block;
  float: none;
  height: 30px;
  padding-left: 0em;
  margin-bottom: 8px;
}
.AnniversaryWebPartHeaderText {
  display: block;
  float: left;
}
.HeaderNavControl {
  display: block;
  float: right;
  padding-top: 3px;
  font-family: Arial;
  font-size: 12px;
  color: #737373;
}
/****
**
** Styles for jCarousel
**
****/
.jcarousel-skin-tango .jcarousel-container-horizontal {
  display: block;
  float: left;
  width: 739px;
  height: 100px;
  padding-bottom: 0px;
  padding-left: 13px;
  padding-right: 13px;
  border-style: none;
}
.jcarousel-skin-tango .jcarousel-clip {
  overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
  width: 739px;
  height: 182px;
  margin-left: 0px;
}
.jcarousel-skin-tango .jcarousel-item-horizontal {
  margin-right: 21px;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
  background: #fff;
  color: #000;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
  position: absolute;
  top: 43px;
  right: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url('/jsor-jcarousel-7bb2e0a/skins/tango/next-horizontal.png') no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
  left: 5px;
  right: auto;
  background-image: url('/jsor-jcarousel-7bb2e0a/skins/tango/prev-horizontal.png');
}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
  background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-next-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal {
  position: absolute;
  top: 43px;
  left: 5px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: transparent url('/jsor-jcarousel-7bb2e0a/skins/tango/prev-horizontal.png') no-repeat 0 0;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
  left: auto;
  right: 5px;
  background-image: url('/jsor-jcarousel-7bb2e0a/skins/tango/next-horizontal.png');
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
  background-position: -32px 0;
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
  background-position: -64px 0;
}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
  background-position: -96px 0;
}
/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
/* Left Nav */
.s4-ql ul.root ul > li > a {
  color: #666666;
  overflow-x: hidden;
  display: block;
  zoom: 1;
  background-color: #b5b5b5;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.s4-ql ul.root ul > li > a:hover {
  background-color: #555555;
  background-image: linear-gradient(to bottom, #777777, #555555);
  background-repeat: repeat-x;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid #b5b5b5;
  padding-top: 7px;
  padding-bottom: 7px;
}
.s4-ql ul.root > li > .menu-item,
.s4-qlheader,
.s4-qlheader:visited {
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0px;
  padding: 3px 4px 3px 10px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: transparent;
  word-wrap: break-word;
  overflow-x: hidden;
}
.s4-ql ul > li > a:hover,
.s4-ql ul.root > li > a:hover,
.s4-qlheader:hover {
  text-decoration: none;
}
.s4-ql a.selected {
  background: none;
  background-color: #555555 !important;
  background-image: linear-gradient(to bottom, #777777, #555555) !important;
  background-repeat: repeat-x;
  border: transparent !important;
  padding-left: 9px !important;
  color: #ffffff !important;
}
body #s4-leftpanel-content {
  background-color: #b5b5b5;
  background-repeat: no-repeat;
  background-position: top right;
  border: 1px solid #999999;
  border-top-width: 0px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0px;
}
div.tip-darkgray {
  z-index: 1600;
}
/*Search Results user images styles*/
.psrch-Main #UserPhoto img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70px;
  height: 70px;
}
.psrch-Main #UserPhoto > a {
  display: block;
  height: 100px;
  overflow: hidden;
  width: 100px;
}
/* iPad zooming fix */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  html,
  body {
    overflow: inherit !important;
  }
  body {
    overflow: auto !important;
  }
  body #s4-workspace {
    overflow: inherit !important;
  }
}
/*# sourceMappingURL=global.css.map */