/* ------------------------------------------------------------
Title: Side Navigation Panel

There are useful CSS hooks you may need...view details in
side-nav repo readme.
--------------------------------------------------------------- */
.snp-glass:before {
  content: "\f000";
}
.snp-music:before {
  content: "\f001";
}
.snp-search:before {
  content: "\f002";
}
.snp-envelope-o:before {
  content: "\f003";
}
.snp-heart:before {
  content: "\f004";
}
.snp-star:before {
  content: "\f005";
}
.snp-star-o:before {
  content: "\f006";
}
.snp-user:before {
  content: "\f007";
}
.snp-film:before {
  content: "\f008";
}
.snp-th-large:before {
  content: "\f009";
}
.snp-th:before {
  content: "\f00a";
}
.snp-th-list:before {
  content: "\f00b";
}
.snp-check:before {
  content: "\f00c";
}
.snp-times:before {
  content: "\f00d";
}
.snp-search-plus:before {
  content: "\f00e";
}
.snp-search-minus:before {
  content: "\f010";
}
.snp-power-off:before {
  content: "\f011";
}
.snp-signal:before {
  content: "\f012";
}
.snp-gear:before,
.snp-cog:before {
  content: "\f013";
}
.snp-trash-o:before {
  content: "\f014";
}
.snp-home:before {
  content: "\f015";
}
.snp-file-o:before {
  content: "\f016";
}
.snp-clock-o:before {
  content: "\f017";
}
.snp-time:before {
  content: "\f017";
}
.snp-road:before {
  content: "\f018";
}
.snp-download:before {
  content: "\f019";
}
.snp-arrow-circle-o-down:before {
  content: "\f01a";
}
.snp-arrow-circle-o-up:before {
  content: "\f01b";
}
.snp-inbox:before {
  content: "\f01c";
}
.snp-play-circle-o:before {
  content: "\f01d";
}
.snp-rotate-right:before,
.snp-repeat:before {
  content: "\f01e";
}
.snp-refresh:before {
  content: "\f021";
}
.snp-list-alt:before {
  content: "\f022";
}
.snp-lock:before {
  content: "\f023";
}
.snp-flag:before {
  content: "\f024";
}
.snp-headphones:before {
  content: "\f025";
}
.snp-volume-off:before {
  content: "\f026";
}
.snp-volume-down:before {
  content: "\f027";
}
.snp-volume-up:before {
  content: "\f028";
}
.snp-qrcode:before {
  content: "\f029";
}
.snp-barcode:before {
  content: "\f02a";
}
.snp-tag:before {
  content: "\f02b";
}
.snp-tags:before {
  content: "\f02c";
}
.snp-book:before {
  content: "\f02d";
}
.snp-bookmark:before {
  content: "\f02e";
}
.snp-print:before {
  content: "\f02f";
}
.snp-camera:before {
  content: "\f030";
}
.snp-font:before {
  content: "\f031";
}
.snp-bold:before {
  content: "\f032";
}
.snp-italic:before {
  content: "\f033";
}
.snp-text-height:before {
  content: "\f034";
}
.snp-text-width:before {
  content: "\f035";
}
.snp-align-left:before {
  content: "\f036";
}
.snp-align-center:before {
  content: "\f037";
}
.snp-align-right:before {
  content: "\f038";
}
.snp-align-justify:before {
  content: "\f039";
}
.snp-list:before {
  content: "\f03a";
}
.snp-dedent:before,
.snp-outdent:before {
  content: "\f03b";
}
.snp-indent:before {
  content: "\f03c";
}
.snp-video-camera:before {
  content: "\f03d";
}
.snp-photo:before,
.snp-image:before,
.snp-picture-o:before {
  content: "\f03e";
}
.snp-pencil:before {
  content: "\f040";
}
.snp-map-marker:before {
  content: "\f041";
}
.snp-adjust:before {
  content: "\f042";
}
.snp-tint:before {
  content: "\f043";
}
.snp-edit:before,
.snp-pencil-square-o:before {
  content: "\f044";
}
.snp-share-square-o:before {
  content: "\f045";
}
.snp-check-square-o:before {
  content: "\f046";
}
.snp-arrows:before {
  content: "\f047";
}
.snp-step-backward:before {
  content: "\f048";
}
.snp-fast-backward:before {
  content: "\f049";
}
.snp-backward:before {
  content: "\f04a";
}
.snp-play:before {
  content: "\f04b";
}
.snp-pause:before {
  content: "\f04c";
}
.snp-stop:before {
  content: "\f04d";
}
.snp-forward:before {
  content: "\f04e";
}
.snp-fast-forward:before {
  content: "\f050";
}
.snp-step-forward:before {
  content: "\f051";
}
.snp-eject:before {
  content: "\f052";
}
.snp-chevron-left:before {
  content: "\f053";
}
.snp-chevron-right:before {
  content: "\f054";
}
.snp-plus-circle:before {
  content: "\f055";
}
.snp-minus-circle:before {
  content: "\f056";
}
.snp-times-circle:before {
  content: "\f057";
}
.snp-check-circle:before {
  content: "\f058";
}
.snp-question-circle:before {
  content: "\f059";
}
.snp-info-circle:before {
  content: "\f05a";
}
.snp-crosshairs:before {
  content: "\f05b";
}
.snp-times-circle-o:before {
  content: "\f05c";
}
.snp-check-circle-o:before {
  content: "\f05d";
}
.snp-ban:before {
  content: "\f05e";
}
.snp-arrow-left:before {
  content: "\f060";
}
.snp-arrow-right:before {
  content: "\f061";
}
.snp-arrow-up:before {
  content: "\f062";
}
.snp-arrow-down:before {
  content: "\f063";
}
.snp-mail-forward:before,
.snp-share:before {
  content: "\f064";
}
.snp-expand:before {
  content: "\f065";
}
.snp-compress:before {
  content: "\f066";
}
.snp-plus:before {
  content: "\f067";
}
.snp-minus:before {
  content: "\f068";
}
.snp-asterisk:before {
  content: "\f069";
}
.snp-exclamation-circle:before {
  content: "\f06a";
}
.snp-gift:before {
  content: "\f06b";
}
.snp-leaf:before {
  content: "\f06c";
}
.snp-fire:before {
  content: "\f06d";
}
.snp-eye:before {
  content: "\f06e";
}
.snp-eye-slash:before {
  content: "\f070";
}
.snp-warning:before,
.snp-exclamation-triangle:before {
  content: "\f071";
}
.snp-plane:before {
  content: "\f072";
}
.snp-calendar:before {
  content: "\f073";
}
.snp-random:before {
  content: "\f074";
}
.snp-comment:before {
  content: "\f075";
}
.snp-magnet:before {
  content: "\f076";
}
.snp-chevron-up:before {
  content: "\f077";
}
.snp-chevron-down:before {
  content: "\f078";
}
.snp-retweet:before {
  content: "\f079";
}
.snp-shopping-cart:before {
  content: "\f07a";
}
.snp-folder:before {
  content: "\f07b";
}
.snp-folder-open:before {
  content: "\f07c";
}
.snp-arrows-v:before {
  content: "\f07d";
}
.snp-arrows-h:before {
  content: "\f07e";
}
.snp-bar-chart-o:before {
  content: "\f080";
}
.snp-bar-chart:before {
  content: "\f080";
}
.snp-twitter-square:before {
  content: "\f081";
}
.snp-facebook-square:before {
  content: "\f082";
}
.snp-camera-retro:before {
  content: "\f083";
}
.snp-key:before {
  content: "\f084";
}
.snp-gears:before,
.snp-cogs:before {
  content: "\f085";
}
.snp-comments:before {
  content: "\f086";
}
.snp-thumbs-o-up:before {
  content: "\f087";
}
.snp-thumbs-o-down:before {
  content: "\f088";
}
.snp-star-half:before {
  content: "\f089";
}
.snp-heart-o:before {
  content: "\f08a";
}
.snp-sign-out:before {
  content: "\f08b";
}
.snp-linkedin-square:before {
  content: "\f08c";
}
.snp-thumb-tack:before {
  content: "\f08d";
}
.snp-external-link:before {
  content: "\f08e";
}
.snp-sign-in:before {
  content: "\f090";
}
.snp-trophy:before {
  content: "\f091";
}
.snp-github-square:before {
  content: "\f092";
}
.snp-upload:before {
  content: "\f093";
}
.snp-lemon-o:before {
  content: "\f094";
}
.snp-phone:before {
  content: "\f095";
}
.snp-square-o:before {
  content: "\f096";
}
.snp-bookmark-o:before {
  content: "\f097";
}
.snp-phone-square:before {
  content: "\f098";
}
.snp-twitter:before {
  content: "\f099";
}
.snp-facebook:before {
  content: "\f09a";
}
.snp-github:before {
  content: "\f09b";
}
.snp-unlock:before {
  content: "\f09c";
}
.snp-credit-card:before {
  content: "\f09d";
}
.snp-rss:before {
  content: "\f09e";
}
.snp-hdd-o:before {
  content: "\f0a0";
}
.snp-bullhorn:before {
  content: "\f0a1";
}
.snp-bell:before {
  content: "\f0f3";
}
.snp-certificate:before {
  content: "\f0a3";
}
.snp-hand-o-right:before {
  content: "\f0a4";
}
.snp-hand-o-left:before {
  content: "\f0a5";
}
.snp-hand-o-up:before {
  content: "\f0a6";
}
.snp-hand-o-down:before {
  content: "\f0a7";
}
.snp-arrow-circle-left:before {
  content: "\f0a8";
}
.snp-arrow-circle-right:before {
  content: "\f0a9";
}
.snp-arrow-circle-up:before {
  content: "\f0aa";
}
.snp-arrow-circle-down:before {
  content: "\f0ab";
}
.snp-globe:before {
  content: "\f0ac";
}
.snp-wrench:before {
  content: "\f0ad";
}
.snp-tasks:before {
  content: "\f0ae";
}
.snp-filter:before {
  content: "\f0b0";
}
.snp-briefcase:before {
  content: "\f0b1";
}
.snp-arrows-alt:before {
  content: "\f0b2";
}
.snp-group:before,
.snp-users:before {
  content: "\f0c0";
}
.snp-chain:before,
.snp-link:before {
  content: "\f0c1";
}
.snp-cloud:before {
  content: "\f0c2";
}
.snp-flask:before {
  content: "\f0c3";
}
.snp-cut:before,
.snp-scissors:before {
  content: "\f0c4";
}
.snp-copy:before,
.snp-files-o:before {
  content: "\f0c5";
}
.snp-paperclip:before {
  content: "\f0c6";
}
.snp-save:before,
.snp-floppy-o:before {
  content: "\f0c7";
}
.snp-square:before {
  content: "\f0c8";
}
.snp-navicon:before,
.snp-reorder:before,
.snp-bars:before {
  content: "\f0c9";
}
.snp-list-ul:before {
  content: "\f0ca";
}
.snp-list-ol:before {
  content: "\f0cb";
}
.snp-strikethrough:before {
  content: "\f0cc";
}
.snp-underline:before {
  content: "\f0cd";
}
.snp-table:before {
  content: "\f0ce";
}
.snp-magic:before {
  content: "\f0d0";
}
.snp-truck:before {
  content: "\f0d1";
}
.snp-pinterest:before {
  content: "\f0d2";
}
.snp-pinterest-square:before {
  content: "\f0d3";
}
.snp-google-plus-square:before {
  content: "\f0d4";
}
.snp-google-plus:before {
  content: "\f0d5";
}
.snp-money:before {
  content: "\f0d6";
}
.snp-caret-down:before {
  content: "\f0d7";
}
.snp-caret-up:before {
  content: "\f0d8";
}
.snp-caret-left:before {
  content: "\f0d9";
}
.snp-caret-right:before {
  content: "\f0da";
}
.snp-columns:before {
  content: "\f0db";
}
.snp-unsorted:before,
.snp-sort:before {
  content: "\f0dc";
}
.snp-sort-down:before,
.snp-sort-desc:before {
  content: "\f0dd";
}
.snp-sort-up:before,
.snp-sort-asc:before {
  content: "\f0de";
}
.snp-envelope:before {
  content: "\f0e0";
}
.snp-envelope-alt:before {
  content: "\f0e0";
}
.snp-linkedin:before {
  content: "\f0e1";
}
.snp-rotate-left:before,
.snp-undo:before {
  content: "\f0e2";
}
.snp-legal:before,
.snp-gavel:before {
  content: "\f0e3";
}
.snp-dashboard:before,
.snp-tachometer:before {
  content: "\f0e4";
}
.snp-comment-o:before {
  content: "\f0e5";
}
.snp-comments-o:before {
  content: "\f0e6";
}
.snp-flash:before,
.snp-bolt:before {
  content: "\f0e7";
}
.snp-sitemap:before {
  content: "\f0e8";
}
.snp-umbrella:before {
  content: "\f0e9";
}
.snp-paste:before,
.snp-clipboard:before {
  content: "\f0ea";
}
.snp-lightbulb-o:before {
  content: "\f0eb";
}
.snp-exchange:before {
  content: "\f0ec";
}
.snp-cloud-download:before {
  content: "\f0ed";
}
.snp-cloud-upload:before {
  content: "\f0ee";
}
.snp-user-md:before {
  content: "\f0f0";
}
.snp-stethoscope:before {
  content: "\f0f1";
}
.snp-suitcase:before {
  content: "\f0f2";
}
.snp-bell-o:before {
  content: "\f0a2";
}
.snp-coffee:before {
  content: "\f0f4";
}
.snp-cutlery:before {
  content: "\f0f5";
}
.snp-file-text-o:before {
  content: "\f0f6";
}
.snp-building-o:before {
  content: "\f0f7";
}
.snp-hospital-o:before {
  content: "\f0f8";
}
.snp-ambulance:before {
  content: "\f0f9";
}
.snp-medkit:before {
  content: "\f0fa";
}
.snp-fighter-jet:before {
  content: "\f0fb";
}
.snp-beer:before {
  content: "\f0fc";
}
.snp-h-square:before {
  content: "\f0fd";
}
.snp-plus-square:before {
  content: "\f0fe";
}
.snp-angle-double-left:before {
  content: "\f100";
}
.snp-angle-double-right:before {
  content: "\f101";
}
.snp-angle-double-up:before {
  content: "\f102";
}
.snp-angle-double-down:before {
  content: "\f103";
}
.snp-angle-left:before {
  content: "\f104";
}
.snp-angle-right:before {
  content: "\f105";
}
.snp-angle-up:before {
  content: "\f106";
}
.snp-angle-down:before {
  content: "\f107";
}
.snp-desktop:before {
  content: "\f108";
}
.snp-laptop:before {
  content: "\f109";
}
.snp-tablet:before {
  content: "\f10a";
}
.snp-mobile-phone:before,
.snp-mobile:before {
  content: "\f10b";
}
.snp-circle-o:before {
  content: "\f10c";
}
.snp-quote-left:before {
  content: "\f10d";
}
.snp-quote-right:before {
  content: "\f10e";
}
.snp-spinner:before {
  content: "\f110";
}
.snp-circle:before {
  content: "\f111";
}
.snp-mail-reply:before,
.snp-reply:before {
  content: "\f112";
}
.snp-github-alt:before {
  content: "\f113";
}
.snp-folder-o:before {
  content: "\f114";
}
.snp-folder-open-o:before {
  content: "\f115";
}
.snp-smile-o:before {
  content: "\f118";
}
.snp-frown-o:before {
  content: "\f119";
}
.snp-meh-o:before {
  content: "\f11a";
}
.snp-gamepad:before {
  content: "\f11b";
}
.snp-keyboard-o:before {
  content: "\f11c";
}
.snp-flag-o:before {
  content: "\f11d";
}
.snp-flag-checkered:before {
  content: "\f11e";
}
.snp-terminal:before {
  content: "\f120";
}
.snp-code:before {
  content: "\f121";
}
.snp-mail-reply-all:before,
.snp-reply-all:before {
  content: "\f122";
}
.snp-star-half-empty:before,
.snp-star-half-full:before,
.snp-star-half-o:before {
  content: "\f123";
}
.snp-location-arrow:before {
  content: "\f124";
}
.snp-crop:before {
  content: "\f125";
}
.snp-code-fork:before {
  content: "\f126";
}
.snp-unlink:before,
.snp-chain-broken:before {
  content: "\f127";
}
.snp-question:before {
  content: "\f128";
}
.snp-info:before {
  content: "\f129";
}
.snp-exclamation:before {
  content: "\f12a";
}
.snp-superscript:before {
  content: "\f12b";
}
.snp-subscript:before {
  content: "\f12c";
}
.snp-eraser:before {
  content: "\f12d";
}
.snp-puzzle-piece:before {
  content: "\f12e";
}
.snp-microphone:before {
  content: "\f130";
}
.snp-microphone-slash:before {
  content: "\f131";
}
.snp-shield:before {
  content: "\f132";
}
.snp-calendar-o:before {
  content: "\f133";
}
.snp-fire-extinguisher:before {
  content: "\f134";
}
.snp-rocket:before {
  content: "\f135";
}
.snp-maxcdn:before {
  content: "\f136";
}
.snp-chevron-circle-left:before {
  content: "\f137";
}
.snp-chevron-circle-right:before {
  content: "\f138";
}
.snp-chevron-circle-up:before {
  content: "\f139";
}
.snp-chevron-circle-down:before {
  content: "\f13a";
}
.snp-html5:before {
  content: "\f13b";
}
.snp-css3:before {
  content: "\f13c";
}
.snp-anchor:before {
  content: "\f13d";
}
.snp-unlock-alt:before {
  content: "\f13e";
}
.snp-bullseye:before {
  content: "\f140";
}
.snp-ellipsis-h:before {
  content: "\f141";
}
.snp-ellipsis-v:before {
  content: "\f142";
}
.snp-rss-square:before {
  content: "\f143";
}
.snp-play-circle:before {
  content: "\f144";
}
.snp-ticket:before {
  content: "\f145";
}
.snp-minus-square:before {
  content: "\f146";
}
.snp-minus-square-o:before {
  content: "\f147";
}
.snp-level-up:before {
  content: "\f148";
}
.snp-level-down:before {
  content: "\f149";
}
.snp-check-square:before {
  content: "\f14a";
}
.snp-pencil-square:before {
  content: "\f14b";
}
.snp-external-link-square:before {
  content: "\f14c";
}
.snp-share-square:before {
  content: "\f14d";
}
.snp-compass:before {
  content: "\f14e";
}
.snp-toggle-down:before,
.snp-caret-square-o-down:before {
  content: "\f150";
}
.snp-toggle-up:before,
.snp-caret-square-o-up:before {
  content: "\f151";
}
.snp-toggle-right:before,
.snp-caret-square-o-right:before {
  content: "\f152";
}
.snp-euro:before,
.snp-eur:before {
  content: "\f153";
}
.snp-gbp:before {
  content: "\f154";
}
.snp-dollar:before,
.snp-usd:before {
  content: "\f155";
}
.snp-rupee:before,
.snp-inr:before {
  content: "\f156";
}
.snp-cny:before,
.snp-rmb:before,
.snp-yen:before,
.snp-jpy:before {
  content: "\f157";
}
.snp-ruble:before,
.snp-rouble:before,
.snp-rub:before {
  content: "\f158";
}
.snp-won:before,
.snp-krw:before {
  content: "\f159";
}
.snp-bitcoin:before,
.snp-btc:before {
  content: "\f15a";
}
.snp-file:before {
  content: "\f15b";
}
.snp-file-text:before {
  content: "\f15c";
}
.snp-sort-alpha-asc:before {
  content: "\f15d";
}
.snp-sort-alpha-desc:before {
  content: "\f15e";
}
.snp-sort-amount-asc:before {
  content: "\f160";
}
.snp-sort-amount-desc:before {
  content: "\f161";
}
.snp-sort-numeric-asc:before {
  content: "\f162";
}
.snp-sort-numeric-desc:before {
  content: "\f163";
}
.snp-thumbs-up:before {
  content: "\f164";
}
.snp-thumbs-down:before {
  content: "\f165";
}
.snp-youtube-square:before {
  content: "\f166";
}
.snp-youtube:before {
  content: "\f167";
}
.snp-xing:before {
  content: "\f168";
}
.snp-xing-square:before {
  content: "\f169";
}
.snp-youtube-play:before {
  content: "\f16a";
}
.snp-dropbox:before {
  content: "\f16b";
}
.snp-stack-overflow:before {
  content: "\f16c";
}
.snp-instagram:before {
  content: "\f16d";
}
.snp-flickr:before {
  content: "\f16e";
}
.snp-adn:before {
  content: "\f170";
}
.snp-bitbucket:before {
  content: "\f171";
}
.snp-bitbucket-square:before {
  content: "\f172";
}
.snp-tumblr:before {
  content: "\f173";
}
.snp-tumblr-square:before {
  content: "\f174";
}
.snp-long-arrow-down:before {
  content: "\f175";
}
.snp-long-arrow-up:before {
  content: "\f176";
}
.snp-long-arrow-left:before {
  content: "\f177";
}
.snp-long-arrow-right:before {
  content: "\f178";
}
.snp-apple:before {
  content: "\f179";
}
.snp-windows:before {
  content: "\f17a";
}
.snp-android:before {
  content: "\f17b";
}
.snp-linux:before {
  content: "\f17c";
}
.snp-dribbble:before {
  content: "\f17d";
}
.snp-skype:before {
  content: "\f17e";
}
.snp-foursquare:before {
  content: "\f180";
}
.snp-trello:before {
  content: "\f181";
}
.snp-female:before {
  content: "\f182";
}
.snp-male:before {
  content: "\f183";
}
.snp-gittip:before {
  content: "\f184";
}
.snp-sun-o:before {
  content: "\f185";
}
.snp-moon-o:before {
  content: "\f186";
}
.snp-archive:before {
  content: "\f187";
}
.snp-bug:before {
  content: "\f188";
}
.snp-vk:before {
  content: "\f189";
}
.snp-weibo:before {
  content: "\f18a";
}
.snp-renren:before {
  content: "\f18b";
}
.snp-pagelines:before {
  content: "\f18c";
}
.snp-stack-exchange:before {
  content: "\f18d";
}
.snp-arrow-circle-o-right:before {
  content: "\f18e";
}
.snp-arrow-circle-o-left:before {
  content: "\f190";
}
.snp-toggle-left:before,
.snp-caret-square-o-left:before {
  content: "\f191";
}
.snp-dot-circle-o:before {
  content: "\f192";
}
.snp-wheelchair:before {
  content: "\f193";
}
.snp-vimeo-square:before {
  content: "\f194";
}
.snp-turkish-lira:before,
.snp-try:before {
  content: "\f195";
}
.snp-plus-square-o:before {
  content: "\f196";
}
.snp-space-shuttle:before {
  content: "\f197";
}
.snp-slack:before {
  content: "\f198";
}
.snp-envelope-square:before {
  content: "\f199";
}
.snp-wordpress:before {
  content: "\f19a";
}
.snp-openid:before {
  content: "\f19b";
}
.snp-institution:before,
.snp-bank:before,
.snp-university:before {
  content: "\f19c";
}
.snp-mortar-board:before,
.snp-graduation-cap:before {
  content: "\f19d";
}
.snp-yahoo:before {
  content: "\f19e";
}
.snp-google:before {
  content: "\f1a0";
}
.snp-reddit:before {
  content: "\f1a1";
}
.snp-reddit-square:before {
  content: "\f1a2";
}
.snp-stumbleupon-circle:before {
  content: "\f1a3";
}
.snp-stumbleupon:before {
  content: "\f1a4";
}
.snp-delicious:before {
  content: "\f1a5";
}
.snp-digg:before {
  content: "\f1a6";
}
.snp-pied-piper-square:before,
.snp-pied-piper:before {
  content: "\f1a7";
}
.snp-pied-piper-alt:before {
  content: "\f1a8";
}
.snp-drupal:before {
  content: "\f1a9";
}
.snp-joomla:before {
  content: "\f1aa";
}
.snp-language:before {
  content: "\f1ab";
}
.snp-fax:before {
  content: "\f1ac";
}
.snp-building:before {
  content: "\f1ad";
}
.snp-child:before {
  content: "\f1ae";
}
.snp-paw:before {
  content: "\f1b0";
}
.snp-spoon:before {
  content: "\f1b1";
}
.snp-cube:before {
  content: "\f1b2";
}
.snp-cubes:before {
  content: "\f1b3";
}
.snp-behance:before {
  content: "\f1b4";
}
.snp-behance-square:before {
  content: "\f1b5";
}
.snp-steam:before {
  content: "\f1b6";
}
.snp-steam-square:before {
  content: "\f1b7";
}
.snp-recycle:before {
  content: "\f1b8";
}
.snp-automobile:before,
.snp-car:before {
  content: "\f1b9";
}
.snp-cab:before,
.snp-taxi:before {
  content: "\f1ba";
}
.snp-tree:before {
  content: "\f1bb";
}
.snp-spotify:before {
  content: "\f1bc";
}
.snp-deviantart:before {
  content: "\f1bd";
}
.snp-soundcloud:before {
  content: "\f1be";
}
.snp-database:before {
  content: "\f1c0";
}
.snp-file-pdf-o:before {
  content: "\f1c1";
}
.snp-file-word-o:before {
  content: "\f1c2";
}
.snp-file-excel-o:before {
  content: "\f1c3";
}
.snp-file-powerpoint-o:before {
  content: "\f1c4";
}
.snp-file-photo-o:before,
.snp-file-picture-o:before,
.snp-file-image-o:before {
  content: "\f1c5";
}
.snp-file-zip-o:before,
.snp-file-archive-o:before {
  content: "\f1c6";
}
.snp-file-sound-o:before,
.snp-file-audio-o:before {
  content: "\f1c7";
}
.snp-file-movie-o:before,
.snp-file-video-o:before {
  content: "\f1c8";
}
.snp-file-code-o:before {
  content: "\f1c9";
}
.snp-vine:before {
  content: "\f1ca";
}
.snp-codepen:before {
  content: "\f1cb";
}
.snp-jsfiddle:before {
  content: "\f1cc";
}
.snp-life-bouy:before,
.snp-life-saver:before,
.snp-support:before,
.snp-life-ring:before {
  content: "\f1cd";
}
.snp-circle-o-notch:before {
  content: "\f1ce";
}
.snp-ra:before,
.snp-rebel:before {
  content: "\f1d0";
}
.snp-ge:before,
.snp-empire:before {
  content: "\f1d1";
}
.snp-git-square:before {
  content: "\f1d2";
}
.snp-git:before {
  content: "\f1d3";
}
.snp-hacker-news:before {
  content: "\f1d4";
}
.snp-tencent-weibo:before {
  content: "\f1d5";
}
.snp-qq:before {
  content: "\f1d6";
}
.snp-wechat:before,
.snp-weixin:before {
  content: "\f1d7";
}
.snp-send:before,
.snp-paper-plane:before {
  content: "\f1d8";
}
.snp-send-o:before,
.snp-paper-plane-o:before {
  content: "\f1d9";
}
.snp-history:before {
  content: "\f1da";
}
.snp-circle-thin:before {
  content: "\f1db";
}
.snp-header:before {
  content: "\f1dc";
}
.snp-paragraph:before {
  content: "\f1dd";
}
.snp-sliders:before {
  content: "\f1de";
}
.snp-share-alt:before {
  content: "\f1e0";
}
.snp-share-alt-square:before {
  content: "\f1e1";
}
.snp-bomb:before {
  content: "\f1e2";
}
.panelIconFixForChrome {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'snpFont';
  src: url('font-awesome/font/snp-webfont.eot');
  src: url('font-awesome/font/snp-webfont.eot') format('embedded-opentype'), url('font-awesome/font/snp-webfont.woff') format('woff'), url('font-awesome/font/snp-webfont.ttf') format('truetype'), url('font-awesome/font/snp-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
.snp-font {
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i[class^='snp-']:before {
  display: inline-block;
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
i[class^='snp-'] {
  display: inline-block;
  width: 1.7em;
  text-align: center;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
html, body {
  height: 100%;
  min-height: 100%;
}*/
body.snp-open {
  overflow: hidden;
}
/* Wrapper around existing site content
----------------------------------------------------- */
#wrapper {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  min-height: 100%;
  position: relative;
}
#wrapper.togglePanel {
  -webkit-transform: translate(-260px, 0);
  -moz-transform: translate(-260px, 0);
  -ms-transform: translate(-260px, 0);
  -o-transform: translate(-260px, 0);
  transform: translate(-260px, 0);
}
#wrapper.togglePanelFallback {
  right: 260px;
}
.snp-open #wrapper {
  overflow: hidden;
  box-shadow: 1px 0 35px 0 rgba(0, 0, 0, 0.35);
}
/* Toggle
----------------------------------------------------- */
#snp-toggle {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  float: right;
  margin: 6px 0;
  line-height: 28px;
  vertical-align: middle;
  color: #777;
  cursor: pointer;
}
#snp-toggle:hover {
  color: #333;
}
#snp-toggle:hover .user-img:before {
  color: #555;
}
#snp-toggle .user-img {
  position: relative;
  float: left;
  width: 28px;
  height: 28px;
}
#snp-toggle .user-img:before,
#snp-toggle .user-img:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#snp-toggle .user-img:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "\f007";
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  color: #ccc;
  text-align: center;
  box-shadow: inset 0 0 1px #777;
  border-radius: 50%;
}
#snp-toggle .user-img:after {
  content: "";
  background-image: url(/apirouter/api/forward/user/picture/small);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
#snp-toggle .user-name {
  float: left;
  position: relative;
  padding: 0 24px 0 9px;
}
#snp-toggle .user-name:after {
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0c9";
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}
@media only screen and (max-width: 480px) {
  #snp-toggle .user-name {
    display: none;
  }
}
.snp-open #snp-toggle .user-img:before {
  color: #555;
}
/* Panel
----------------------------------------------------- */
#side-nav-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: none;
  position: fixed !important;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  top: 0;
  right: 0;
  width: 260px;
  min-height: 100%;
  background: #373737;
  border-top: 1px solid #373737;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* Panel Tabs
-------------------------------- */
  /* Panel Content
-------------------------------- */
  /* User Logout
-------------------------------- */
  /* Error Messaging
-------------------------------- */
}
#side-nav-panel * {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
#side-nav-panel .snp-tabs,
#side-nav-panel .snp-tab-content {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#side-nav-panel .snp-tabs {
  width: 100%;
  float: left;
}
#side-nav-panel .snp-tabs li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  width: 33%;
  height: 39px;
  float: left;
  background: #373737;
  font-size: 13px;
  color: #838383;
  text-align: center;
  line-height: 39px;
  cursor: pointer;
  border: 1px solid #424242;
  border-right-color: #2a2a2a;
  border-bottom-color: #2a2a2a;
  position: relative;
}
#side-nav-panel .snp-tabs li:first-child:before {
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f005";
  font-size: 12px;
  padding-right: 5px;
  margin-left: -5px;
  color: #fbc86e;
}
#side-nav-panel .snp-tabs li:last-child {
  border-right: none;
}
#side-nav-panel .snp-tabs li:hover {
  color: #eaeae5;
}
#side-nav-panel .snp-tabs li.active {
  color: #eaeae5;
}
#side-nav-panel .snp-tabs li.active:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  height: 2px;
  background: #0071b3;
  border-right: 1px solid #004c73;
}
#side-nav-panel .snp-tab-content {
  display: none;
}
#side-nav-panel .snp-tab-content li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0 8px 0 6px;
  font-size: 14px;
  height: 44px;
  line-height: 44px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-top: 1px solid #424242;
  border-bottom: 1px solid #2a2a2a;
  position: relative;
}
#side-nav-panel .snp-tab-content li:hover {
  background: #424242;
  border-top: 1px solid #575757;
}
#side-nav-panel .snp-tab-content li i {
  font-size: 20px;
  padding: 0 6px 0 2px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#side-nav-panel .snp-tab-content li:hover i {
  color: #fff;
}
#side-nav-panel .snp-tab-content li .a-link {
  width: 100%;
  padding-right: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-overflow: clip \9;
  -ms-text-overflow: clip \9;
}
#side-nav-panel .snp-tab-content li .snp-fav {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  padding: 0 4px 0 8px;
  text-align: right;
}
#side-nav-panel .snp-tab-content li .snp-fav:hover i {
  color: #fbc86e;
}
#side-nav-panel .snp-tab-content li .snp-fav i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
}
#side-nav-panel .snp-tab-content li .snp-fav .snp-star {
  color: #fbc86e;
}
#side-nav-panel .snp-tab-content .snp-group,
#side-nav-panel .snp-tab-content .snp-group:hover {
  color: #999;
  background: #484848;
  font-size: 11px;
  height: 24px;
  line-height: 21px;
  text-transform: uppercase;
  border-top: 1px solid #535353;
  border-bottom: 1px solid #2a2a2a;
  background-image: -moz-linear-gradient(bottom, #3e3e3e 9%, #484848 55%);
  background-image: -webkit-linear-gradient(bottom, #3e3e3e 9%, #484848 55%);
  background-image: -o-linear-gradient(bottom, #3e3e3e 9%, #484848 55%);
  background-image: -ms-linear-gradient(bottom, #3e3e3e 9%, #484848 55%);
  background-image: linear-gradient(bottom, #3e3e3e 9%, #484848 55%);
}
#side-nav-panel .snp-tab-content .active,
#side-nav-panel .snp-tab-content .active:hover {
  background: #2a2a2a;
  border-top: none;
}
#side-nav-panel .snp-tab-content .active a {
  color: #eaeae5;
  cursor: default;
}
#side-nav-panel .snp-tab-content .active i,
#side-nav-panel .snp-tab-content .active:hover i {
  color: #0071b3;
}
#side-nav-panel .snp-tab-content a {
  display: inline-block;
  color: #c0bfbb;
  text-decoration: none;
}
#side-nav-panel .snp-tab-content a:hover {
  color: #eaeae5;
}
#side-nav-panel .snp-logout {
  *zoom: 1;
  padding: 0 2px 0 2px;
  font-size: 12px;
  border-bottom: 1px solid #2a2a2a;
  box-shadow: 0 1px 0 #424242;
}
#side-nav-panel .snp-logout:before,
#side-nav-panel .snp-logout:after {
  display: table;
  content: "";
  line-height: 0;
}
#side-nav-panel .snp-logout:after {
  clear: both;
}
#side-nav-panel .snp-logout a,
#side-nav-panel .snp-logout i {
  color: #787878;
  padding: 1px 10px;
}
#side-nav-panel .snp-logout a:before,
#side-nav-panel .snp-logout i:before {
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#side-nav-panel .snp-logout a:hover,
#side-nav-panel .snp-logout i:hover {
  color: #eaeae5;
  text-decoration: none;
}
#side-nav-panel .snp-logout a:active,
#side-nav-panel .snp-logout i:active {
  color: #eaeae5;
}
#side-nav-panel .snp-logout a {
  float: left;
}
#side-nav-panel .snp-logout a:before {
  content: "\f011";
  font-size: 13px;
  padding-right: 5px;
}
#side-nav-panel .snp-logout i {
  display: block;
  float: right;
  font-size: 14px;
  cursor: pointer;
}
#side-nav-panel .snp-logout i:before {
  content: "\f00d";
}
#side-nav-panel .snp-error,
#side-nav-panel .snp-no-results {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 15px;
  color: #c0bfbb;
  display: none;
}
#side-nav-panel .snp-no-results {
  margin-top: 55px;
}
/* Panel Search/Filter
-------------------------------- */
#snp-search {
  border-bottom: 1px solid #2a2a2a;
  position: relative;
}
#snp-search input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 11px 0 12px 8px;
  padding: 5px 12px 5px 29px;
  margin-left: 11px \9;
  /* IE6-9 */
  padding-top: 8px \9;
  /* IE(6-9) */
  width: 78%;
  font-size: 14px;
  line-height: 16px;
  color: #bdbcbc;
  background-color: #595959;
  border: none;
  border-radius: 16px;
  box-shadow: inset 0 2px 0px rgba(0, 0, 0, 0.1);
}
#snp-search input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
}
#snp-search input .placeholder-text {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
}
#snp-search input:-ms-input-placeholder {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
}
#snp-search input:-moz-placeholder {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
}
#snp-search input::-moz-placeholder {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
}
#snp-search input::-webkit-input-placeholder {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #777;
}
#snp-search input:focus:-ms-input-placeholder {
  color: #595959;
}
#snp-search input:focus:-moz-placeholder {
  color: #595959;
}
#snp-search input:focus::-moz-placeholder {
  color: #595959;
}
#snp-search input:focus::-webkit-input-placeholder {
  color: #595959;
}
#snp-search:before {
  content: "\f002";
  font-family: 'snpFont';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 4px;
  top: 17px \9;
  /* IE6-9 */
  left: 16px;
  color: #8a8888;
  font-weight: bold;
  font-size: 15px;
}
/* NAM login panel when SSO session is expired
--------------------------------------------------------*/
.snp-login-error:before {
  content: "\f071";
  font-family: FontAwesome;
  font-size: 60px;
  left: 100px;
  position: absolute;
  color: #fc0;
  text-shadow: 2px 2px 3px #222;
  top: 112px;
}
#snp-nam-check {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid #da0;
  border-radius: 3px;
  cursor: pointer;
  color: #333;
  font-family: Arial;
  font-size: 13px;
  margin: 200px auto 0 auto;
  text-shadow: 0 1px 0 #aaa;
  box-shadow: 2px 2px 3px #222;
  padding: 10px;
  background: #999;
  text-align: center;
  width: 200px;
}
#snp-nam-check:hover {
  background: #aaa;
  color: #111;
}
/* IE Hacks. Oh joy.
-------------------------------- */
#snp-toggle .user-img:before {
  display: none\9;
}
.snp-open .navbar-fixed-top {
  position: absolute;
}
/* Mobile Breaks
-------------------------------- */
@media (max-width: 960px) {
  #snp-toggle .user-name {
    display: none;
  }
}
/*# sourceMappingURL=sideNavPanel.css.map */