.rightSection {
  width: 750px;
  display: inline-block;
}
.leftSection {
  display: inline-block;
  width: 210px;
}
BODY #s4-leftpanel {
  DISPLAY: none;
}
#divNavigation {
  DISPLAY: none;
}
.MSO_ContentDiv {
  WIDTH: 100%;
}
BODY #s4-mainarea {
  FLOAT: none;
}
.s4-ca {
  PADDING-BOTTOM: 20px;
  MARGIN-LEFT: 0px;
}
.srch-results {
  PADDING-LEFT: 10px;
}
.srch-sb-results1 {
  PADDING-LEFT: 230px;
}
.srch-sb-results2 {
  PADDING-LEFT: 230px;
}
.srch-sb-results2 {
  PADDING-TOP: 0px;
}
.s4-search INPUT.ms-sbplain {
  BORDER-TOP: #cecece 1px solid;
  HEIGHT: 32px !important;
  BORDER-RIGHT: #cecece 1px solid;
  WIDTH: 404px !important;
  BORDER-BOTTOM: #cecece 1px solid;
  BORDER-LEFT: #cecece 1px solid;
  BACKGROUND-COLOR: #ffffff;
}
.ms-sbplain {
  BORDER-TOP: #cecece 1px solid;
  HEIGHT: 32px !important;
  BORDER-RIGHT: #cecece 1px solid;
  WIDTH: 404px !important;
  BORDER-BOTTOM: #cecece 1px solid;
  BORDER-LEFT: #cecece 1px solid;
  BACKGROUND-COLOR: #ffffff;
}
.srch-gosearchimg {
  DISPLAY: none;
}
.new-goSrchBtn {
  BORDER-TOP: medium none;
  HEIGHT: 36px;
  BORDER-RIGHT: medium none;
  WIDTH: 50px;
  VERTICAL-ALIGN: middle;
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/megamenu/but_mag_s1.png);
  BACKGROUND-REPEAT: no-repeat;
  BORDER-BOTTOM: medium none;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  PADDING-LEFT: 0px;
  MARGIN: 0px;
  BORDER-LEFT: medium none;
  LINE-HEIGHT: 36px;
  PADDING-RIGHT: 0px;
  BACKGROUND-COLOR: transparent;
}
.new-goSrchBtn:hover {
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/megamenu/but_mag_s2.png);
}
INPUT.s4-searchbox-QueryPrompt {
  FONT-STYLE: inherit !important;
}
.srch-stats {
  MARGIN-LEFT: 30px;
}
.srch-maincontent-seperator {
  DISPLAY: none;
}
.ms-sctabcn {
  BORDER-TOP: #cecece 1px solid;
  BORDER-RIGHT: #cecece 1px solid;
  BACKGROUND: #0066cc;
  BORDER-BOTTOM: #cecece 1px solid;
  COLOR: #fff;
  BORDER-LEFT: #cecece 1px solid;
}
.ms-sctabcnhover {
  BORDER-TOP: #cecece 1px solid;
  BORDER-RIGHT: #cecece 1px solid;
  BACKGROUND: #0066cc;
  BORDER-BOTTOM: #cecece 1px solid;
  COLOR: #fff;
  BORDER-LEFT: #cecece 1px solid;
}
.ms-sctabcf {
  BORDER-TOP: #cecece 1px solid;
  BORDER-RIGHT: #cecece 1px solid;
  BACKGROUND: #dde9f5;
  BORDER-BOTTOM: #cecece 1px solid;
  COLOR: #9dc0de;
  BORDER-LEFT: #cecece 1px solid;
}
.ms-sctabcfhover {
  BORDER-TOP: #cecece 1px solid;
  BORDER-RIGHT: #cecece 1px solid;
  BACKGROUND: #fff;
  BORDER-BOTTOM: #cecece 1px solid;
  COLOR: #0066cc;
  BORDER-LEFT: #cecece 1px solid;
}
.srchctr_leftcell {
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  PADDING-LEFT: 19px;
  PADDING-RIGHT: 10px;
}
.srch-federationarea {
  PADDING-RIGHT: 19px;
}
#srch-header-container {
  FONT-SIZE: 12px;
  BORDER-TOP: #cecece 1px solid;
  HEIGHT: 30px;
  BORDER-RIGHT: #cecece 1px solid;
  BORDER-BOTTOM: #cecece 1px solid;
  COLOR: #737373;
  BORDER-LEFT: #cecece 1px solid;
  LINE-HEIGHT: 30px;
  BACKGROUND-COLOR: #fcfcfc;
}
.srch-header-1 {
  FLOAT: left;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  PADDING-LEFT: 20px;
  PADDING-RIGHT: 25px;
}
.srch-header-2 {
  FLOAT: left;
  PADDING-RIGHT: 360px;
}
.srch-header-3 {
  FLOAT: left;
}
.srch-result-item {
  BORDER-BOTTOM: #c4c4c4 1px solid;
  PADDING-BOTTOM: 10px;
  PADDING-TOP: 10px;
  PADDING-LEFT: 0px;
  PADDING-RIGHT: 0px;
}
.srch-result-item-icon {
  HEIGHT: 16px;
  WIDTH: 16px;
  FLOAT: left;
}
.srch-result-item-detail {
  WIDTH: 410px;
  FLOAT: left;
}
.srch-result-item-title {
  PADDING-BOTTOM: 10px;
}
.srch-Title3 {
  PADDING-LEFT: 10px;
}
.srch-dup A {
  COLOR: #0066cc;
}
.srch-dup A:visited {
  COLOR: #0066cc;
}
.srch-dup A:hover {
  COLOR: #0066cc;
}
.srch-Title {
  LINE-HEIGHT: 20px;
}
.srch-Title3 {
  LINE-HEIGHT: 20px;
}
.srch-Description {
  MARGIN-TOP: 2px;
  LINE-HEIGHT: 16px;
}
.srch-Metadata {
  LINE-HEIGHT: 16px;
}
.srch-Title A {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Title A:visited {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Title A:hover {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Title3 A {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Title3 A:visited {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Title3 A:hover {
  FONT-SIZE: 14px !important;
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
  FONT-VARIANT: normal;
  FONT-WEIGHT: bold;
  COLOR: #0066cc !important;
  FONT-STYLE: normal;
}
.srch-Metadata1 {
  MARGIN: 2px 0px 20px 10px;
}
.srch-Metadata1 .srch-URL2 {
  COLOR: #0066cc !important;
  FONT: 0.78571429px Arial, Helvetica, sans-serif;
}
.srch-Metadata2 {
  MARGIN-LEFT: 0px;
}
.srch-Metadata2 {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #666666 !important;
  PADDING-BOTTOM: 5px;
  MARGIN-LEFT: 10px;
  LINE-HEIGHT: 12px;
}
.srch-Description2 {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #666666 !important;
  PADDING-BOTTOM: 5px;
  MARGIN-LEFT: 10px;
  LINE-HEIGHT: 12px;
}
.srch-result-item-metadata-container {
  FLOAT: left;
}
.srch-result-item-metadata2 {
  FLOAT: left;
  MARGIN-LEFT: 10px;
}
.srch-result-item-date {
  FONT-WEIGHT: normal;
  COLOR: #666666;
}
.srch-result-item-author {
  FONT-WEIGHT: normal;
  COLOR: #666666;
}
.srch-result-item-author {
  MARGIN-LEFT: 10px;
}
.srch-result-item-date {
  WIDTH: 90px;
}
.ms-searchChannelTitle SPAN {
  FONT-SIZE: 14px;
  FONT-FAMILY: Arial, verdana, tahoma, sans-serif !important;
  FONT-WEIGHT: bold;
  COLOR: #666666 !important;
  LINE-HEIGHT: 12px;
}
.srch-federationarea {
  BORDER-TOP: #dbddde 0px solid;
  BORDER-RIGHT: #dbddde 0px solid;
  BORDER-BOTTOM: #dbddde 0px solid;
  BORDER-LEFT: #dbddde 0px solid;
}
.ms-searchsummarymain #UserPhoto {
  HEIGHT: 96px;
  WIDTH: 96px;
  PADDING-RIGHT: 5px;
}
.ms-searchsummarymain #UserPhoto IMG {
  MAX-WIDTH: inherit;
  HEIGHT: 90px;
  WIDTH: 94px;
  MAX-HEIGHT: inherit;
}
.ms-searchsummarymain {
  WIDTH: 362px;
  BACKGROUND-COLOR: #f4f2f3;
}
#NameField {
  FONT-SIZE: 14px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #0066cc;
  LINE-HEIGHT: 18px;
}
#NameField A {
  TEXT-DECORATION: underline;
  COLOR: #0066cc !important;
}
#MiniContactCard #JobTitleField {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #666 !important;
  LINE-HEIGHT: 18px;
}
#MiniContactCard #DepartmentField {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #666 !important;
  LINE-HEIGHT: 18px;
}
#MoreLink {
  FONT-SIZE: 12px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #0066cc;
  PADDING-BOTTOM: 5px;
  TEXT-ALIGN: center;
  LINE-HEIGHT: 18px;
}
.ms-searchref-categoryname {
  FONT-SIZE: 14px;
  FONT-FAMILY: Arial, Helvetica, sans-serif;
  FONT-WEIGHT: bold;
  COLOR: #666666;
  LINE-HEIGHT: 12px;
}
UL .ms-searchref-selected .ms-searchref-filterlink {
  COLOR: #666666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
UL LI.ms-searchref-unselected .ms-searchref-filterlink {
  BORDER-RIGHT: 0px;
  COLOR: #0066cc !important;
}
LI.ms-searchref-selected {
  BORDER-TOP: #afaeae 1px solid;
  BORDER-BOTTOM: #afaeae 1px solid;
  BORDER-LEFT: #afaeae 1px solid;
  BORDER-RIGHT-COLOR: #afaeae !important;
}
LI.ms-searchref-filtermsg {
  BORDER-TOP: #afaeae 1px solid;
  BORDER-BOTTOM: #afaeae 1px solid;
  BORDER-LEFT: #afaeae 1px solid;
  BORDER-RIGHT-COLOR: #afaeae !important;
}
.ms-searchref-main {
  BORDER-TOP: medium none;
  BORDER-RIGHT: medium none;
  BACKGROUND-IMAGE: none;
  BORDER-BOTTOM: medium none;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  PADDING-LEFT: 0px;
  BORDER-LEFT: medium none;
  MARGIN-TOP: 0px;
  PADDING-RIGHT: 0px;
}
.srch-advancedtable {
  BACKGROUND: #f4f2f3 0px 0px;
  MARGIN: 40px 0px 0px 200px;
}
.ms-advsrchText-v1 {
  COLOR: #666666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
TD.ms-advsrchText-v2 {
  COLOR: #666666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
DIV.ms-advsearch-header {
  COLOR: #666666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
TD.ms-advsrchText-v2 SELECT {
  COLOR: #666666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
.ms-advsrchtips {
  COLOR: #666 !important;
  FONT: bold 1px Arial, Helvetica, sans-serif;
}
.ms-advsrchtips A {
  COLOR: #0066cc !important;
}
.ms-advsrchtips A:hover {
  COLOR: #0066cc !important;
}
.ms-advsrchtips A:visited {
  COLOR: #0066cc !important;
}
.srch-refinearea {
  MARGIN-TOP: 100px;
}
.srch-federationarea {
  MARGIN-TOP: 90px;
}
.ms-advsrchbutton INPUT {
  BORDER-TOP: medium none;
  HEIGHT: 36px;
  BORDER-RIGHT: medium none;
  WIDTH: 105px;
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/but_search_s1.png);
  BORDER-BOTTOM: medium none;
  BORDER-LEFT: medium none;
}
.ms-advsrchbutton INPUT:hover {
  CURSOR: pointer;
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/but_search_s2.png);
}
.srch-BBTitle A:link {
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
}
.srch-BBTitle A:visited {
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
}
.srch-BBTitle A:hover {
  FONT-FAMILY: Arial, Helvetica, sans-serif !important;
}
.mainholderAU1 {
  HEIGHT: 1px !important;
  WIDTH: 100%;
  POSITION: absolute !important;
  MARGIN-LEFT: 0px !important;
  Z-INDEX: 200 !important;
  TOP: 30px;
}
.MoveButtonAU1 {
  WIDTH: 1200px;
  MARGIN: 0px auto;
}
.AlsWins {
  OVERFLOW: hidden;
  WIDTH: 360px;
  FLOAT: right;
}
.AlsWins A {
  FONT-SIZE: 12px;
  TEXT-DECORATION: none;
  HEIGHT: 36px;
  FONT-FAMILY: verdana, geneva, sans-serif;
  WIDTH: 130px;
  FLOAT: left;
  COLOR: #ffffff !important;
  TEXT-ALIGN: center;
  MARGIN-TOP: 2px;
  border-radius: 0 0 0 0;
}
.AlsWins A:hover {
  TEXT-DECORATION: none;
  COLOR: #ffffff;
}
.AlsWins A:visited {
  COLOR: #ffffff;
}
.Special A {
  BORDER-TOP: #000000 2px solid;
  BORDER-RIGHT: #000000 2px solid;
  BORDER-BOTTOM: #000000 2px solid;
  FLOAT: left;
  TEXT-ALIGN: center;
  BORDER-LEFT: #000000 2px solid;
}
.Special A:hover {
  BORDER-TOP: gray 2px solid;
  BORDER-RIGHT: gray 2px solid;
  BORDER-BOTTOM: gray 2px solid;
  BORDER-LEFT: #808080 2px solid;
}
.srch-maintopright {
  FLOAT: left;
}
.s4-ca {
  MARGIN-LEFT: 0px;
}
.srch-sb-results {
  BACKGROUND: 0px 0px;
}
.srch-sb-main {
  PADDING-TOP: 20px;
}
.srch-sb-results4 {
  PADDING-LEFT: 20px;
  MARGIN: inherit;
}
.ms-bodyareaframe {
  BACKGROUND-COLOR: transparent;
}
TD.ms-titleareaframe {
  HEIGHT: auto !important;
}
DIV.ms-titleareaframe {
  HEIGHT: auto !important;
}
.ms-pagetitleareaframe {
  HEIGHT: auto !important;
}
.ms-main .ms-ptabrx {
  BORDER-TOP-COLOR: #eeeeee;
  BORDER-LEFT-COLOR: #eeeeee;
  BORDER-BOTTOM-COLOR: #eeeeee;
  BORDER-RIGHT-COLOR: #eeeeee;
}
.ms-main .ms-sctabrx {
  BORDER-TOP-COLOR: #eeeeee;
  BORDER-LEFT-COLOR: #eeeeee;
  BORDER-BOTTOM-COLOR: #eeeeee;
  BORDER-RIGHT-COLOR: #eeeeee;
}
.ms-main .ms-ptabcn {
  BORDER-TOP-COLOR: #eeeeee;
  BORDER-LEFT-COLOR: #eeeeee;
  BORDER-BOTTOM-COLOR: #eeeeee;
  BORDER-RIGHT-COLOR: #eeeeee;
}
.ms-main .ms-sctabcn {
  BORDER-TOP-COLOR: #eeeeee;
  BORDER-LEFT-COLOR: #eeeeee;
  BORDER-BOTTOM-COLOR: #eeeeee;
  BORDER-RIGHT-COLOR: #eeeeee;
}
.srch-sb-results {
  HEIGHT: auto;
}
.ms-sblink {
  DISPLAY: block;
}
.ms-sblink A:link {
  COLOR: #0072bc;
}
.ms-sblink A:visited {
  COLOR: #0072bc;
}
.ms-sblink A:hover {
  COLOR: #0072bc;
}
#s4-ribbonrow #s4-ribbonrow {
  DISPLAY: none;
}
.s4-search INPUT.ms-sbplain {
  FONT-SIZE: 2em;
  BACKGROUND: none transparent scroll repeat 0% 0%;
  LINE-HEIGHT: 32px;
}
.new-goSrchBtn {
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/smallSearchIcon.png);
  BACKGROUND-POSITION: center center;
  BACKGROUND-COLOR: #006dcc;
}
.new-goSrchBtn:hover {
  BACKGROUND-IMAGE: url(https://united.test.wwt.com/sites/Knowledge/publishingimages/smallSearchIcon.png);
  BACKGROUND-POSITION: center center;
  BACKGROUND-COLOR: #0044cc;
}
.ms-sbtable.ms-sbtable-ex.s4-search {
  DISPLAY: none;
}
.s4-search {
  DISPLAY: none;
}
/*# sourceMappingURL=TeamBiosPageLayout.css.map */