<?xml version="1.0" encoding="utf-8"?>
<Solutions>
  <Solution Path="WWT.Mysites.UI.wsp">
    <WebApplications>
      <WebApplication>mysites</WebApplication>
    </WebApplications>
  </Solution>
  <Solution Path="WWT.United.UI.wsp">
    <WebApplications>
      <WebApplication>united</WebApplication>
      <WebApplication>united2</WebApplication>
    </WebApplications>
  </Solution>
  <Solution Path="WWT.Branding.wsp">
    <WebApplications>
      <WebApplication>united</WebApplication>
      <WebApplication>united2</WebApplication>
      <WebApplication>connect</WebApplication>
    </WebApplications>
  </Solution>
  <Solution Path="WWT.Branding.MySite.wsp">
    <WebApplications>
      <WebApplication>mysites</WebApplication>
    </WebApplications>
  </Solution>
  <Solution Path="WWT.Webparts.wsp">
    <WebApplications>
      <WebApplication>mysites</WebApplication>
      <WebApplication>united</WebApplication>
      <WebApplication>united2</WebApplication>
      <WebApplication>connect</WebApplication>
    </WebApplications>
  </Solution>
  <Solution Path="WWT.Connect.Branding.wsp">
    <WebApplications>
      <WebApplication>connect</WebApplication>
    </WebApplications>
  </Solution>
</Solutions>
